<div class="col-md-4 col-sm-4">
  <center>
    <img src="http://dummyimage.com/365x175/eee/000.jpg&text=D1" class="img-responsive">
  </center>
</div>
<div class="col-md-4 col-sm-4">
  <center>
    <img src="http://dummyimage.com/365x175/eee/000.jpg&text=D2" class="img-responsive">
  </center>
</div>
<div class="col-md-4 col-sm-4">
  <center>
    <img src="http://dummyimage.com/365x175/eee/000.jpg&text=D3" class="img-responsive">
  </center>
</div>
