<div class="row">
  {%include 'hero'%}
</div>
<div class='container'>


<div class="row feature-panels">
  <div class="col-md-6 col-sm-6 col-xs-6">
      {%include 'index_b'%}
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6">
      {%include 'index_c'%}
  </div>
</div>

<div class="row feature-panels">
  <div class="col-md-6 col-sm-6 col-xs-6">
      {%include 'index_d'%}
  </div>
  <div class="col-md-6 col-sm-6 col-xs-6">
      {%include 'index_e'%}
  </div>
</div>

<div class="row">
  <div class='col-md-12'>
    {%include 'index_featured_products'%}
  </div>
</div>

