<div class='blog'>
  <div id='blogHero' class='hero loading'>
  </div>  
<h1>{{page.title}}</h1>
{{ page.content }}
  <div class='share'>
    <div class='share-heading'>
      <div class='blog-line'>
      </div>
      <h5>Share This Article</h5>
    </div>
    <div class='share-icons'>
      <h5> ICONS </h5>
      <div class='blog-line'>
      </div>
    </div>
  </div>
  <div class='blog-nav'>
    <a href='/pages/blogs'>BLOG HOME</a>
  </div>
</div>
