<div class='sub-confirm'>
  <div class='head'>
    <h1>THANK YOU.</h1>
  </div>
  <div class='subhead'>
    <h1>We’re working on creating that perfect kit for you.</h1>
  </div>
  <img src='{{ "sub-confirm.jpg" | asset_url }}' class='img-responsive'>
</div>


<!-- Google Code for Subscription Conversion Page -->
<script type="text/javascript">
/* <![CDATA[ */
var google_conversion_id = 1009145473;
var google_conversion_language = "en";
var google_conversion_format = "3";
var google_conversion_color = "ffffff";
var google_conversion_label = "_DDgCNfx3QcQga2Z4QM";
var google_conversion_value = 0.000000;
var google_remarketing_only = false;
/* ]]> */
</script>
<script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
</script>
<noscript>
<div style="display:inline;">
<img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/1009145473/?value=0.000000&amp;label=_DDgCNfx3QcQga2Z4QM&amp;guid=ON&amp;script=0"/>
</div>
</noscript>
