<div id='subscription'>
  <div class='top-hero'>
    {{ 'sub2-hero.jpg' | asset_url | img_tag }}
  </div>
  <ul class='featured-sub-products'>
    <a href='#' class='arrows'><i class="fa fa-chevron-left"></i></a>
    {% assign collection = collections.subfeat.products %}
    {% for product in collection %}
    <li class='group1'>
      <img src='{{ product.featured_image.src | product_img_url: "large" }}'>
    </li>
    {% endfor %}
    {% assign collection = collections.subfeat2.products %}
    {% for product in collection %}
    <li class='group2'>
      <img src='{{ product.featured_image.src | product_img_url: "large" }}'>
    </li>
    {% endfor %}
    <a href='#' class='arrows'><i class="fa fa-chevron-right"></i></a>
  </ul>
  <div class='mid-copy'>
    <p>Discover the latest and greatest in fashion and fun all from the comfort of home.</p>
    <h2>Pick your box:</h2>
  </div>
  <ul class='sub-plans'>
    <li class='single-plan'>
      <h2 class='price-heading'>$20</h2>
      <h3>SOCKS ONLY</h3>
      {% include 'icon_sock' %}
      {% include 'icon_sock' %}
      <h4>FREE SHIPPING</h4>
      <p>Stand out from the crowd without stepping out the door.</p>
      <p>2 or more fashionable pairs of socks delivered to your doorstep monthy.</p>
      <p class='cancel'>cancel anytime</p>
    </li>
    
    <li class='single-plan'>
      <h2 class='price-heading'>$28</h2>
      <h3>SOCKS + BOXER BRIEFS</h3>
      {% include 'icon_sock' %}
      {% include 'icon_sock' %}
      <h4>FREE SHIPPING</h4>
      <p>Seize the everyday and make it fun.</p>
      <p>
        <ul>
          <li>1 pair of fun boxer briefs</li>
          <li>1 pair of socks</li>
        </ul>
      </p>
      <p>Delivered to your doorstep monthly.</p>
      <p class='cancel'>cancel anytime</p>
    </li>
    
    <li class='single-plan'>
      <h2 class='price-heading'>$28</h2>
      <h3>ACCESSORIES</h3>
      {% include 'icon_sock' %}
      {% include 'icon_sock' %}
      <h4>FREE SHIPPING</h4>
      <p>Be at the center of the conversation on every occasion.</p>
      <p>
        <ul>
          <li>3 fun accessories</li>
          <li>1 surprise gadget</li>
        </ul>
      </p>
      <p>Delivered to your doorstep monthly.</p>
      <p class='cancel'>cancel anytime</p>
    </li>
    
    <li class='single-plan'>
      <h2 class='price-heading'>$14</h2>
      <h3>STARTER KIT</h3>
      {% include 'icon_sock' %}
      {% include 'icon_sock' %}
      <h4>FREE SHIPPING</h4>
      <p>Invite the chance for endless possibilities in fashion and fun.</p>
      <p>1 fun accessory or gadget delivered to your doorstep monthy.</p>
      <p class='cancel'>cancel anytime</p>
    </li>
  </ul>
</div>