<div class='account'>
  <ul class="nav nav-tabs" role="tablist">
    <li><a href="/account">DASHBOARD</a></li>
    <li><a href="/pages/account-information">ACCOUNT INFORMATION</a></li>
    <li><a href="/account/addresses">ADDRESS BOOK</a></li>
    <li><a href="/pages/order-history">ORDER HISTORY</a></li>
    <li class='active'><a href="/pages/account-subscription">SUBSCRIPTION</a></li>
  </ul>
  <div class='account-body'>
    <h3> Subscription </h3>
    <div class='row'>
      <div class='left-section col-md-5'>
        <div class='top-section'>
          <div class='plan'>
            <h5>CURRENT PLAN</h5>
            <p>Sock Dabbler (2 pairs / mo)</p>
          </div>
          <div class='enrolled-date'>
            <h5>DATE ENROLLED</h5>
            <p>Feb 22, 2013</p>
          </div>
          <div class='next-date'>
            <h5>NEXT SHIPMENT DATE</h5>
            <p>Feb 22, 2013</p>
          </div>
          
        </div>
        <div class='bottom-section'>
          <h5>WHAT'S IN YOUR BOX THIS MONTH?</h5>
        </div>
      </div>
      <div class='col-md-7'>
      </div>
      
    </div>
  </div>
</div>