<div class='account'>
  <ul class="nav nav-tabs" role="tablist">
    <li><a href="/account">DASHBOARD</a></li>
    <li class='active'><a href="/pages/account-information">ACCOUNT INFORMATION</a></li>
    <li><a href="/account/addresses">ADDRESS BOOK</a></li>
    <li><a href="/pages/order-history">ORDER HISTORY</a></li>
    <li><a href="/pages/account-subscription">SUBSCRIPTION</a></li>
  </ul>
  
  <div class='account-body'>
    <div class='row'>
      <div class='col-md-6'>
        <h3>Account Information <span class='edit-account'>edit</span></h3>
        <table class='account-info'>
          <tr>
            <td width='35%'>First Name</td>
            <td>{{customer.first_name}}</td>
          </tr>
          <tr>
            <td>Last Name</td>
            <td>{{customer.last_name}}</td>
          </tr>
          <tr>
            <td>Email Address</td>
            <td>{{customer.email}}</td>
          </tr>
        </table>
      </div>
      <div class='right-section col-md-offset-2 col-md-4'>
        <img src="http://dummyimage.com/300x175/888888/fff.jpg">
      </div>
    </div>
  </div>
</div>