  
  <div style="margin-top:15px;">
    <h2> Easy Breezy Returns & Exchanges </h2>
  </div>
  
  <div class='row'>
      
    <div class='col-sm-4'>

      Feel free to contact us anytime! We love hearing from our customers! We're available 9AM-5PM ET.
      <span style="font-size:16px;"> 
        <br/><br/>
        <a href="mailto:easybreezy@zoraab.com"><span style="color:#67c5a9; font-size:18px;">Email Us!</SPAN></a>
      </span>
    </div>


  <div class='col-sm-8' style='margin-bottom:40px;'>        
    <p style="margin-bottom: 0px">
      <b> <span style="color:#67c5a9">"FEEL GOOD!" RETURN & EXCHANGE POLICY </span></b><br/>

      As you know, at zoraab.com, we believe it’s always in the details.  
      Our pursuit is to make you feel good during and after your purchase with us down 
      to every detail to create a perfect shopping experience.  And as we strive to 
      persevere in this pursuit, we believe returns should be easy breezy at zoraab.com.
      <p>

        <br/>
        <i><span style="color:#67c5a9">Can I use my items before I return or exchange them?</span></i> <br/>
        Unfortunately no.  All returned items must be unworn and in original packaging.
        <br/><br/>
        <i><span style="color:#67c5a9">How long can I wait to return or exchange an item?</span> </i><br/>
        You have 60 days from the date of delivery to return all items for a full refund.
        <br/><br/>
        <i><span style="color:#67c5a9">How long will it take for a return or exchanges to be processed?</span></i><br/>
        The whole process takes approximately 7-10 business days. 
        <br/><br/>
        <i><span style="color:#67c5a9">Will I have to pay for shipping?</span></i><br/>
        Yes. We are very happy to provide free shipping on all our orders but leave the shipping costs for returns and exchanges to you.  
        <br/><br/>
      </p>

      <i><span style="color:#67c5a9">You can return or exchange your purchase in 4 easy steps:</span></i>
      <ol>
        <li>Let us know you want to make a return or exchange by <a href="mailto:sayhi@zoraab.com">contacting us</a>.</li>
        <li>We will send you a confirmation email letting you know where to ship the return or exchange </li>
        <li>Ship the return or exchange with pre-paid, insured and trackable method of delivery</li>
        <li>Once we receive the return we will issue a return or ship the exchanged item </li>
        <br/>
      </ol>
      Please remember the details mentioned above in order to successfully make a return or 
      exchange. If you have questions or concerns prior to returning items, “say hi!” to 
      our sock care specialists by contacting us!

    </div>
  </div>
    <!-- / PRIMARY -->
    
    