<div style='width:75%; margin: 0 auto'>
  <h2 style='color:#67c5a9;'> Almost finished...</h2>
  <p style="line-height:30px;">We need to confirm your email address.</p>

  <p style="line-height:20px">To complete the subscription process, please click the link in the email we just sent you.
  </p>
</div>