<div class='blogs'>
  <div class='blog-hero'>
    <div class='hero-content'>
      <h1>EMBRACING PATTERN, A SERIES:PAISLEY</h1>
      <h3>Historically Paisley was pattern meant for regals. Today trending expecially going into the holiday party season.</h3>
      <h5><a href=''> GET THE DETAILS ></a></h5>
    </div>
    <div id='featuredImage' class=''>
      <img src='http://dummyimage.com/745x595/c7c7c7/ffffff'>
    </div>
  </div>
  
  <div class='blog-heading'>
    <div class='blog-line'>
    </div>
    <h5> Top Stories </h5>
  </div>
  
  <ul class='blog-grid'>
    {% comment %}
    <li class='blog-preview col-one col-xs-4'>
      <a href='/pages/embracing-paisley'>
        <img class='preview-img' src='http://cdn.shopify.com/s/files/1/0289/5905/files/bowtiepreview.jpg?29262'>
        <p class='preview-text'>
          Embracing Paisley
        </p>
      </a>
    </li>
    <li class='blog-preview col-xs-4'>
      <a href='/pages/embracing-paisley'>
        <img class='preview-img' src='http://cdn.shopify.com/s/files/1/0289/5905/files/bowtiepreview.jpg?29262'>
        <p class='preview-text'>
          Embracing Paisley
        </p>
      </a>
    </li>
    <li class='blog-preview col-three col-xs-4'>
      <a href='/pages/embracing-paisley'>
        <img class='preview-img' src='http://cdn.shopify.com/s/files/1/0289/5905/files/bowtiepreview.jpg?29262'>
        <p class='preview-text'>
          Embracing Paisley
        </p>
      </a>
    </li>
    <li class='blog-preview col-one col-xs-4'>
      <a href='/pages/embracing-paisley'>
        <img class='preview-img' src='http://cdn.shopify.com/s/files/1/0289/5905/files/bowtiepreview.jpg?29262'>
        <p class='preview-text'>
          Embracing Paisley
        </p>
      </a>
    </li>
    <li class='blog-preview col-xs-4'>
      <a href='/pages/embracing-paisley'>
        <img class='preview-img' src='http://cdn.shopify.com/s/files/1/0289/5905/files/bowtiepreview.jpg?29262'>
        <p class='preview-text'>
          Embracing Paisley
        </p>
      </a>
    </li>
    <li class='blog-preview col-three col-xs-4'>
      <a href='/pages/embracing-paisley'>
        <img class='preview-img' src='http://cdn.shopify.com/s/files/1/0289/5905/files/bowtiepreview.jpg?29262'>
        <p class='preview-text'>
          Embracing Paisley
        </p>
      </a>
    </li>


    {% endcomment %}
    
  </ul>
</div>