<div class="row">
  <div class='col-sm-3'>
    <div style="margin-top:15px;">
      <h2>Frequently Asked Questions</h2>
    </div>
    Feel free to contact us anytime! We love hearing from our customers! We're available 9AM-5PM ET.
    <br/><br/>
    <a href="mailto:sayhi@zoraab.com"><span style="color:#67c5a9; font-size:18px;">Contact Us!</a>
    <br/><br/>
    <ul>
      <li><strong><a href="#Shipping">Shipping</a></strong></li>
      <li><strong><a href="#Returns">Returns/Exchanges</a></strong></li>
      <li><strong><a href="#Payment">Payment</a></strong></li>
      <li><strong><a href="#General">General</a></strong></li>
    </ul>
  </div>


  <div class='col-sm-9'>
    <p><u>Shipping</u></p>
    <A name=Shipping></A>
    <P><EM><span style="color:#67c5a9;font-weight:600;"> What locations do you ship to?</span></EM><BR />
      Currently, we ship to the US and Canada AND internationally!</P>
      <P><EM><span style="color:#67c5a9;font-weight:600;"> How much does shipping cost?</span></em><BR />
        Free of charge for anyone in the US and Canada and $15 flat rate to those internationally. </P>
        <P><EM><span style="color:#67c5a9;font-weight:600;"> How long will it take to receive my order?</span></em><BR />
          For standard shipping within the US and Canada, you should receive your order in 3-5 business days (may take a bit longer for some parts of Canada), but if you haven't, let us know! For international orders, it may take up to 3-4 weeks. You can reach us by email or by phone.</P>
          <P><EM><span style="color:#67c5a9;font-weight:600;"> It has been more than 5 business days, and I still have not received my order! What should I do?</span></em><BR />
            Contact us immediately, and we can track your package!</P>
            <A href="#top">Return to Top</A> 
            <HR />
            <A name=Returns></A>
            <P><u>Returns/Exchanges</u> </P>
            <P><EM><span style="color:#67c5a9;font-weight:600;"> What is your return/exchange policy?</span><BR />
            </EM>At zoraab.com, we believe that socks should be a fun and happy experience. If you're anything less than 100% satisfied with your purchase, you can exchange or return for a full refund within 60 days. All items must be in original packaging and unworn of course. To learn more about our return policy <a href="/pages/returns">click here</a>.</P>
            <P><EM><span style="color:#67c5a9;font-weight:600;"> How do I return/exchange an item?</span><BR />
            </EM>Contact Us! or call us and we will send you instructions.</P>
            <A href="#top">Return to Top</A> 
            <HR />
            <A name=Payment></A>
            <P><u>Payment</u></P>

            <P><EM><span style="color:#67c5a9;font-weight:600;"> What forms of payment do you accept?</span><BR />
            </EM>We accept all major credit cards: Visa, Mastercard, American Express, Discover, Diners Club and JCB.</P>
            <A href="#top">Return to Top</A> 
            <HR />
            <A name=General></A>
            <P><u>General</u> </P>

            <P><EM><span style="color:#67c5a9;font-weight:600;"> What if I have a question that wasn't answered?</span><BR />
            </EM>If you have any questions at all, feel free to contact us! We love hearing from our customers!</P>
              <A href="#top">Return to Top</A>
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>