<div class='row'>
  <div class='col-sm-12'>
    <ol class="breadcrumb">
      <li><a href="/">Home</a></li>
      <li><a href="/collections/mens-socks">Shop</a></li>
      <li class="active">{{product.title}}</li>
    </ol>
  </div>
</div>
<div class='product-space'>
</div>
  
  <center>
    {% if product.handle == 'gift-card' %}
      {% include 'giftcard' %}
    {% else %}
      {% include 'product_view' %}
    {% endif %}
  </center>
  
  <div class='product-social'>
  </div>
  {% comment %}
  <center>
    <div class='recommendations'>
      <div class="row">
      <h5>IF YOU LIKE THE ABOVE YOU'LL <span class="glyphicon glyphicon-heart"></span> THESE</h5>
      <p><strong>Body copy</strong>, ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet equat. Gift and you</p>
    </div>
  </center>
  {% endcomment %}


<script type="text/javascript">
var google_tag_params = {
ecomm_prodid: 'shopify_US_{{product.id}}_{{product.variants.first.id}}',
ecomm_pagetype: 'product',
ecomm_totalvalue: '{{ product.price | money_without_currency }}'
};
</script>