  <center>
    {% include 'product_quickview' %}
  </center>
  <div class='product-social'>
    {% include 'social-icons'%}
  </div>
  <center>
    <div class='recommendations'>
      <div class="row">
      <h5>IF YOU LIKE THE ABOVE YOU'LL <span class="glyphicon glyphicon-heart"></span> THESE</h5>
      <p><strong>Body copy</strong>, ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet equat. Gift and you</p>
    </div>
  </center>
  
  
