{% layout settings.customer_layout %}
<div class='account-hero'>
  {{ 'account_hero.jpg' | asset_url | img_tag }}
</div>

  
<div class='account'>
  
  <span id='fallbackImg' class='hide'>{{'sock-fallback.png' | asset_url}}</span>
  <ul class="nav nav-tabs responsive" role="tablist" id='accountNav'>
    <li class="active"><a href="#dashboard" role='tab' data-toggle='tab'>DASHBOARD</a></li>
    <li><a href="#account-info" role='tab' data-toggle='tab'>ACCOUNT INFO</a></li>
    <li><a href="#addresses" role='tab' data-toggle='tab'>ADDRESS BOOK</a></li>
    <li><a href="#orders" role='tab' data-toggle='tab'>ORDER HISTORY</a></li>
    <li><a href="#subscription" role='tab' data-toggle='tab'>SUBSCRIPTION</a></li>
  </ul>
  
  <div class='account-body'>
    <div class='tab-content responsive'>
      <div id='dashboard' class='tab-pane active'>
        {% include 'account-dashboard' %}
      </div>
      <div id='account-info' class='tab-pane'>
        {% include 'account-info' %}
      </div>
      <div id='addresses' class='tab-pane'>
        {% include 'account-addresses' %}
      </div>
      <div id='orders' class='tab-pane'>
        {% include 'account-orders' %}
      </div>
      <div id='subscription' class='tab-pane'>
        {% include 'account-subscription' %}
      </div>
    </div>
  </div>
</div>


<div class='order-summaries'>
  {% for order in customer.orders %}
  <div class="modal fade" id="{{order.id}}" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <div class='svg-close-icon close-button' data-dismiss="modal">
            {% include 'icon_close' %}
          </div>
          {% include 'order-summary' %}
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
</div>