{% layout settings.customer_layout %}
<div class='row'>
  <div class='account-forms'>
    <div class='account-form'>
      <div id='create-account'>
        <h3> ACTIVATE ACCOUNT </h3>
        {% form 'activate_customer_password' %}
           {% if form.errors %}
            <div class='alert alert-danger'>{{ form.errors | default_errors }}</div>
          {% endif %}
          <input type="password" value="" name="customer[password]" id="customer_password" placeholder='Password' class="form-control" />
          <input  type="password" value="" name="customer[password_confirmation]" id="customer_password_confirmation" placeholder='Confirm Password' class="form-control"/>
          <input type="submit" class='btn btn-primary btn-lg' value="ACTIVATE ACCOUNT"/>
        {% endform %}
      </div>
    </div>
    <div class='hero-img hidden-xs'>
      {{ "login-slide.jpg" | asset_url | img_tag }}
    </div>
  </div>
</div>