{% layout settings.customer_layout %}
<div class='account-hero'>
  {{ 'account_hero.jpg' | asset_url | img_tag }}
</div>

<div class='account'>
  <ul class="nav nav-tabs" role="tablist">
    <li><a href="/account">DASHBOARD</a></li>
    <li><a href="/pages/account-information">ACCOUNT INFO</a></li>
    <li class='active'><a href="/account/addresses">ADDRESS BOOK</a></li>
    <li><a href="/pages/order-history">ORDER HISTORY</a></li>
    <li><a href="/pages/account-subscription">SUBSCRIPTION</a></li>
  </ul>
  
  <div class='account-body'>

  </div>
</div>