{% layout settings.customer_layout %}

<div class='row'>
  <div class='account-forms'>
    <div class='account-form'>

      <div id='login-form' class='single-account-form'>
        <h3> LOG INTO YOUR ACCOUNT </h3>
        {% form 'customer_login' %}
          {% if form.errors %}
            <div class='alert alert-danger'>{{ form.errors | default_errors }}</div>
          {% endif %}
          
          <input type="email" placeholder="Email" name="customer[email]" id="customer_email" class="form-control" />
          <input type="password" placeholder="Password" name="customer[password]" id="customer_password" class="form-control"/><br/>
          <input type="submit" class='btn btn-primary btn-lg' value="Log In"/>
          <p><a href="/account/register"> Sign up for a new account </a></p>
          <p><a href="#" class="switch-account-form" data-target='#recover-password'>Forgot your password?</a></p>
        {% endform %}
      </div>
      <div id="recover-password" class='single-account-form'>
        <h3> RESET YOUR PASSWORD </h3>
        <p class='instructions'> Enter your Email Address and we'll send you Password Reset Instructions immediately. </p>
        {% form 'recover_customer_password' %}
          {% if form.posted_successfully? %}
            <p class='success'> Thanks! We will send you instructions to reset your password shortly! </p>
          {% else %}
            {% if form.errors %}
              <div id='passwordErrors' class='alert alert-danger'>{{ form.errors | default_errors }}</div>
            {% endif %}
            <input type="email" value="" placeholder="Email" size="30" name="email" id="recover-email" class="form-control" />
            <input class="btn btn-primary btn-lg" type="submit" value="Reset Password" />
            <a href="#" class='switch-account-form' data-target='#login-form'>Cancel</a>
          {% endif %}
        {% endform %}
      </div>
    </div>
    <div class='hero-img hidden-xs'>
      {{ "login-slide.jpg" | asset_url | img_tag }}
    </div>
  </div>
</div>


{% comment %}
  {% if shop.checkout.guest_login %}
  <div id="guest">
    <div class="template_header">
      <h3 class="title">Guest Login</h3>
    </div>
    {% form 'guest_login' %}
      <input class="btn" type="submit" value="Continue as Guest" />
    {% endform %}
  </div>
  {% endif %}
{% endcomment %}