{% layout settings.customer_layout %}
<div class='row'>
  <div class='account-forms'>
    <div class='account-form'>
      <div id='create-account'>
        <h3> CREATE ACCOUNT </h3>
        {% form 'create_customer' %}
           {% if form.errors %}
            <div class='alert alert-danger'>{{ form.errors | default_errors }}</div>
          {% endif %}
          <input type="text" value="" placeholder="First Name" name="customer[first_name]" id="first_name" class="form-control" />
          <input type="text" value="" placeholder="Last Name" name="customer[last_name]" id="last_name" class="form-control"/>
          <input type="email" value="" placeholder="Email" name="customer[email]" id="email" class="form-control"/>
          <input type="password" value="" placeholder="Password" name="customer[password]" id="password" class="form-control"/>
          <input type="submit" class='btn btn-primary btn-lg' value="CREATE MY ACCOUNT"/>
          <p><a href="/account/login"> Log into your dashboard</a></p>
        {% endform %}
      </div>
    </div>
    <div class='hero-img hidden-xs'>
      {{ "login-slide.jpg" | asset_url | img_tag }}
    </div>
  </div>
</div>