{% layout settings.customer_layout %}

<div class='row'>    

<div class="account_form">
  <div class='background-image hidden-xs'>
    <img src="{{ 'login-slide.jpg' | asset_url }}" class='img-responsive'>
  </div>
  <div class='col-sm-4 col-sm-offset-8'>
    
    <div id="customer">
      <div class="login_form">
        {% form 'reset_customer_password' %}
          {{ form.errors | default_errors }}

          <div id="password" class="clearfix large_form">
            <input type="password" placeholder='Password' name="customer[password]" id="customer_password" class="logininput" size="30" />
          </div>
          <div id="password_confirm" class="clearfix large_form">
            <input type="password" name="customer[password_confirmation]" placeholder='Confirm Password'id="customer_password_confirmation" class="logininputpw" size="16" />
          </div>
          
          <div style="margin-top:30px; text-align: center; color:#a6a3a3; width: 205px;">
            <input class="newbutton" type="submit" value="Reset Password" />
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>


