{% layout settings.customer_layout %}

<div class='row'>
  <div class='account-forms'>
    <div class='account-form'>

      <div id='password-reset-form'>
        <h3> RESET YOUR PASSWORD </h3>
        {% form 'reset_customer_password' %}
          {% if form.errors %}
            <div class='alert alert-danger'>Passwords do not match.</div>
          {% endif %}
          
          <input type="password" placeholder='Password' name="customer[password]" id="customer_password" class="form-control"/>
          <input type="password" name="customer[password_confirmation]" placeholder='Confirm Password'id="customer_password_confirmation" class="form-control" />
          <input type="submit" class='btn btn-primary btn-lg' value="Reset Password"/>
        {% endform %}
      </div>
    </div>
    <div class='hero-img hidden-xs'>
      {{ "login-slide.jpg" | asset_url | img_tag }}
    </div>
  </div>
</div>