
<h2 class='featured-heading'> FEATURED </h2>
<h3 class='hidden-xs'> FRESH FALL FASHION </h3>
<p class='hidden-xs'>
  More than Colorful Socks, Zoraab has the watch, the pocket square, skinny tie and bow tie that pairs well with all those colorful socks. Fun socks just became a bit crazier. Our picks for the fall:
</p>


{% assign collection = collections.featured %}

<div class='featured-collection-grid collection-grid'>
  <ul>
    {% for product in collection.products %}
      <li class='col-xs-6 col-sm-6 col-md-4 col-lg-3'>
        {% include 'collection-grid-item' %}
      </li>
    {% else %}
      
      <li>There are no products in this view.</li>
    {% endfor %}
  </ul>
  <p class='see-all'><a href='/collections/mens-socks'> see full collection> </a></p>
</div>


