    <footer>

      <img src="http://dummyimage.com/1280x150/ccc/fff.jpg&text=Footer"class='img-responsive'  >

      <p role="contentinfo">Copyright &copy; {{ "now" | date: "%Y" }} {{ shop.name }}. {{ powered_by_link }}.</p>

    </footer>
