<div class='hero'>
  <img src="{{ 'homepage_hero_image.jpg' | asset_url }}" class='img-responsive'>
  <div class='hero-text'>
    <h1>GET A FRESH PAIR OF FASHION SOCKS DELIVERED MONTHLY</h1>
    <a href='/pages/sock-subscription' class='btn btn-info btn-lg'> SUBSCRIBE NOW </a>
  </div>
</div>