<div id='indexHero' class='hero'>
  <span id='hero-url' class='hide'>{{ 'hero_homepage.jpg' | asset_url }}</span>
  <div class='hero-text'>
    <h1>GET FRESH GEAR FROM FASHION SOCKS TO BOWTIES</h1>
    <a href='/collections/mens-socks' class='btn btn-info btn-lg'> SHOP NOW </a>
  </div>
</div>