<div id='indexHero' class='hero'>
  <span id='hero-url' class='hide'>{{ 'hero_homepage.jpg' | asset_url }}</span>
  <div class='hero-text'>
    <h1>NEW SEASON, NEW STYLE.</h1>
    <h3>Fall Fashions have arrived.</h3>
    <a href='/collections/mens-socks' class='btn btn-info btn-lg'> SHOP NOW </a>
  </div>
  <div class='hero-right-panel'>
    <ul>
      <li></li>
      <li class='right-grid'></li>
      <li></li>
      <li class='right-grid'></li>
    </ul>
    <div class='sub-callout'>
      <h1>NO MORE LAUNDRY.</h1>
      <h1 class='sub-desc'>
        Fresh socks and more delivered monthly via subscription service.
      </h1>
      <a href='/pages/sock-subscription' class='btn btn-md'> LEARN MORE </a>
    </div>
  </div>
</div>