<a href="/products/gift-card">
  <div class='feature-panel'>
    <div class='icon'>
      {% include 'icon_giftcard' %}
    </div>
    <div class='text'>
      <h3> GIFT CARDS </h3>
      <p class='hidden-xs'> <strong>Body copy,</strong> ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet equat.
      </p>
    </div>
    <div class='link'>
      <a href='#'> shop gift cards> </a>
    </div>
  </div>
</a>