<a href="/collections/all">
  <div class='feature-panel'>
    <div class='icon'>
      {% include 'shop_icon' %}
    </div>
    <div class='text'>
      <h3> SHOP </h3>
      <p class='hidden-xs'> <strong>Body copy,</strong> ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet equat.
      </p>
    </div>
    <div class='link'>
      <a href='#'> see our collection> </a>
    </div>
  </div>
</a>