<center>
<div class='header-section'>  
  <div class="row">
    <div class='header col-sm-8 col-sm-offset-4 hidden-xs'>    
      <div>
        <ul class='header-links'>
          <li><a href='/pages/help-faq'> HELP </a></li>
          <li>
            {% if customer %}
              <a href='/account/logout'> LOG OUT </a>
            {% else %}
              <a href='/account/login'> LOG IN </a>
            {% endif %}
          </li>
          <li><a href='/cart' class="right-off-canvas-toggle" id="cart" > CART (<span class="item-count">{{cart.item_count}}</span>) {% include 'icon_cart' %} </a></li>
        </ul>
      </div>
      <div class='number'>
        <i class="fa fa-phone"></i> (800) 973-8247
      </div>
      <div class='free-shipping'>
        <a href='#' data-toggle="modal" data-target="#freeShipping">Free shipping on all orders!</a>
      </div>
    </div>
  </div>

  <div class="row">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle-menu navbar-toggle" data-toggle="collapse" data-target="#zoraab-navbar">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <button type="button" class="cart-toggle navbar-toggle right-off-canvas-toggle">
          {% include 'icon_cart' %}
        </button>
        <a href='/' class='navbar-brand'>
          {{ 'logov1.png' | asset_url | img_tag }}
        </a>
      </div>
      
      <div class="collapse navbar-collapse" id='zoraab-navbar'>
        
        <ul class="nav navbar-nav">
          <li><a href="/pages/sock-subscription">SUBSCRIPTION</a></li>
          <li><a href="/collections/mens-socks">SHOP</a></li>
          <li><a href="/products/gift-card">GIFT CARDS</a></li>
          <li><a href="/pages/blog">BLOG</a></li>
        </ul>
        
        <form class="navbar-form navbar-right hidden-xs" method='get' action='/search'>
          <div class="form-group">
            <input type="text" name='q' class="form-control" placeholder="Search">
            <button type="submit" class="search-icon btn btn-default"><i class="fa fa-search"></i></button>
          </div>
        </form>
      </div>
    </nav>
  </div>
</div>
</center>