<div class='network_hat'>
  <div class='bg-overlay'>
  </div>
  <ul class='main-links'>
    <li style='width:35%' class='ship-li left'>
      <a href='#' data-toggle="modal" data-target="#freeShipping">
        FREE SHIPPING ON ALL US & CANADA ORDERS
      </a>
      </li>
    <li style='width:28%' class='hide email-form hidden-xs hidden-sm'>
      <div class='section-border'></div>
      <div class='mail-overlay'></div>
      <div class='submit-overlay'></div>
      <form action="http://zoraab.us4.list-manage.com/subscribe/post?u=fdf8a5ce2518c055fc3be35d7&id=331f9e54ce" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
        Save 10% Newsletter
        <input type='email' placeholder='your@email.com' id='mce-EMAIL' name='EMAIL' />
        <input type='submit' class='btn btn-primary' id='submitEmail' name='subscribe' value='SIGN UP'/>
      </form>
    </li>
    <li style='width:34%' class='bundler-li hidden-xs hidden-sm'>
      <a href='/pages/sock-bundle'>
        $59 SOCK DRAWER - 10 PAIRS
      </a>
      </li>
    <li class='hide' style='width:20%'>FREE SOCKS Lifetime Supply</li>
  </ul>
  <ul class='header-links hidden-xs'>
    <li><a href='/pages/help-faq'> HELP </a></li>
      {% if customer %}
    <li class='account-network-hat'>x`
        <a class='account-network-hat'>
          ACCOUNT <span class="caret"></span>
        </a>
    </li>
      {% else %}
    <li>
        <a href='/account/login'> LOG IN </a>
    </li>
      {% endif %}
    <li><a href='/cart' class="right-off-canvas-toggle" id="cart" > CART <span class='number cart-count'>(<span class="item-count">{{cart.item_count}}</span>)</span> {% include 'icon_cart' %} </a></li>
  </ul>
</div>
<div class='account-dropdown hidden-xs'>
  <div class='dropdown-greeting'>Hi {{ customer.first_name }} </div>
  <div class='dropdown-link'><a href='/account'>ACCOUNT</a></div>
  <div class='dropdown-link'><a href='/account/logout'>LOG OUT</a></div>
</div>

<center>
<div class='header-section'>  
  <div class="row">
    <div class='header col-sm-8 col-sm-offset-4 hidden-xs'>    
      <div>
        {% comment %}
        <ul class='header-links'>
          <li><a href='/pages/help-faq'> HELP </a></li>
          <li>
            
            {% if customer %}
              <a href='/account/logout'> LOG OUT </a>
            {% else %}
              <a href='/account/login'> LOG IN </a>
            {% endif %}
          </li>
          <li><a href='/cart' class="right-off-canvas-toggle" id="cart" > CART <span class='number cart-count'>(<span class="item-count">{{cart.item_count}}</span>)</span> {% include 'icon_cart' %} </a></li>
        </ul>
        {% endcomment %}
      </div>
      <div class='number hide'>
        <i class="fa fa-phone"></i> (866) 981-5188
      </div>
      <div class='free-shipping hide'>
        <a href='#' data-toggle="modal" data-target="#freeShipping">Free shipping on all orders!</a>
      </div>
    </div>
  </div>

  <div class="row">
    <nav class="navbar navbar-default" role="navigation">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle-menu navbar-toggle" data-toggle="collapse" data-target="#zoraab-navbar">
          <span class="sr-only"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <button type="button" class="cart-toggle navbar-toggle right-off-canvas-toggle">
          {% include 'icon_cart_mobile' %}
        </button>
        <a href='/' class='navbar-brand'>
          {{ 'logo_santa.png' | asset_url | img_tag }}
        </a>
      </div>
      
      <div class="collapse navbar-collapse" id='zoraab-navbar'>
        
        <ul class="nav navbar-nav">
          <li><a href="/collections/mens-socks">SHOP</a></li>
          <li><a href="/pages/sock-subscription">SUBSCRIPTION</a></li>
          <li><a href="/products/gift-card">GIFT CARDS</a></li>
          <li><a href="/pages/blogs">BLOG</a></li>
        </ul>
        
        <form class="navbar-form navbar-right hidden-xs" method='get' action='/search'>
          <div class="form-group">
            <input type="text" name='q' class="form-control" placeholder="Search">
            <button type="submit" class="search-icon btn btn-default"><i class="fa fa-search"></i></button>
          </div>
        </form>
      </div>
    </nav>
  </div>
</div>
</center>