<div class='network_hat'>
  <div class='bg-overlay'>
  </div>
  <ul class='main-links'>
    <li style='width:35%' class='ship-li left'>
      <a href='#' data-toggle="modal" data-target="#freeShipping">
        FREE SHIPPING ON ALL US & CANADA ORDERS - <em>Need it by 12/25?</em>
      </a>
      </li>
    <li style='width:28%' class='hide email-form hidden-xs hidden-sm'>
      <div class='section-border'></div>
      <div class='mail-overlay'></div>
      <div class='submit-overlay'></div>
      <form action="http://zoraab.us4.list-manage.com/subscribe/post?u=fdf8a5ce2518c055fc3be35d7&id=331f9e54ce" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" target="_blank">
        Save 10% Newsletter
        <input type='email' placeholder='your@email.com' id='mce-EMAIL' name='EMAIL' />
        <input type='submit' class='btn btn-primary' id='submitEmail' name='subscribe' value='SIGN UP'/>
      </form>
    </li>
    <li style='width:34%' class='bundler-li hidden-xs hidden-sm'>
      <a href='/pages/sock-bundle'>
        $59 SOCK DRAWER - 10 PAIRS
      </a>
      </li>
    <li class='hide' style='width:20%'>FREE SOCKS Lifetime Supply</li>
  </ul>
  <ul class='header-links hidden-xs'>
    <li><a href='/pages/help-faq'> HELP </a></li>
      {% if customer %}
    <li class='account-network-hat'>
        <a class='account-network-hat'>
          ACCOUNT <span class="caret"></span>
        </a>
    </li>
      {% else %}
    <li>
        <a href='/account/login'> LOG IN </a>
    </li>
      {% endif %}
    <li><a href='/cart' class="right-off-canvas-toggle" id="cart" > CART <span class='number cart-count'>(<span class="item-count">{{cart.item_count}}</span>)</span> {% include 'icon_cart' %} </a></li>
  </ul>
</div>
<div class='account-dropdown hidden-xs'>
  <div class='dropdown-greeting'>Hi {{ customer.first_name }} </div>
  <div class='dropdown-link'><a href='/account'>ACCOUNT</a></div>
  <div class='dropdown-link'><a href='/account/logout'>LOG OUT</a></div>
</div>