<div id='saleBar' class='hide'>
  <p class='headline'>Save up to <span class="num">30</span>% on your purchase. Shop now. <a href="#" class='show-more-details'>See details.</a>
  </p>
</div>


<div class='hide'>
  <div id='addlDetails'>
    <div class='left-section'>
      <p><strong><span class='num'>15</span>%</strong> off your purchase of $<span class='num'>50</span>. Add Code: WINTRYMIX<span class='num'>15</span> to your cart.</p><br/>
      <p><strong><span class='num'>25</span>%</strong> off your purchase of $<span class='num'>200</span>. Add Code: WINTRYMIX<span class='num'>25</span> to your cart.</p>
      
    </div>
    <div class='right-section'>
      <p><strong><span class='num'>20</span>%</strong> off your purchase of $<span class='num'>120</span>. Add Code: WINTRYMIX<span class='num'>20</span> to your cart.</p><br/>
      <p><strong><span class='num'>30</span>%</strong> off your purchase of $<span class='num'>400</span>. Add Code: WINTRYMIX<span class='num'>30</span> to your cart.</p>
    </div>
    <div class='offer-details'>
      <p class='expiration'>Offer expires <span class='num'>11/25/2014 11:59</span>pm. Cannot combine with other offers.</p>
      <p><a href='#' class='hide-more-details'>hide details</a></p>
    </div>
  </div>
  <div id='saleBarHeadline'>
    <p class='headline'>Save up to <span class="num">30</span>% on your purchase. Shop now. <a href="#" class='show-more-details'>See details.</a></p>
  </div>
</div>