<div class="md-modal md-effect-1" id="modal-1">
  <div class="md-content holiday-popp">
  {% comment %}
  <div class='close-btn'>
      <a href='#' id='closeModalBtn'>{% include 'icon_close' %}</a>
    </div>
  <div class='holiday-popup'>
    <img src='{{ "Popup.jpg" | asset_url }}'>
  </div>
  <button class="md-close btn btn-md btn-primary">Thanks!</button>
  {% endcomment %}
    <div id='snow-popup'></div>
    <div class='snow-close close-btn'>
      <a href='#' id='closeModalBtn'>{% include 'icon_close' %}</a>
    </div>
    <div class='body'>
      <div class='backlay'></div>
      <div class='content'>
        <h3>Happy Holidays</h3>
        <h5>FREE Shipping on ALL Orders</h5>
        <div>
          <p><strong>$<span class='new-number'>10</span></strong> off purchases over $<span class='new-number'>50</span> - MERRY<span class='new-number'>10</span></p>
          <p><strong>$<span class='new-number'>15</span></strong> off purchases over $<span class='new-number'>80</span> - MERRY<span class='new-number'>15</span></p>
          <p><strong>$<span class='new-number'>25</span></strong> off purchases over $<span class='new-number'>125</span> - MERRY<span class='new-number'>25</span></p>
        </div>
        <img src="{{ 'shipping_holiday_2014.jpg' | asset_url }}" class='img-responsive'>
        <button class="md-close btn btn-md btn-primary">Thanks!</button>
      </div>
    </div>
  </div>
</div>