<div class="md-modal md-effect-1" id="modal-1">
  <div class="md-content">
    <div id='snow-popup'></div>
    <div class='close-btn'>
      <a href='#' id='closeModalBtn'>{% include 'icon_close' %}</a>
    </div>
    <div class='body'>
      <div class='backlay'></div>
      <div class='content'>
        <h3>Happy Holidays</h3>
        <p>This is a modal window. You can do the following things with it:</p>
        <p>Mrs. Hughes shared, “No. Just when it seemed he was the only solution to her father's problems, she was rescued.” England summoned the cutlery. Mrs. Levinson had a letter. Mr. Crawley decreed, “To make that work you'd have to be a good liar. Are you a good liar?” Countess of Grantham asked.”</p>
        <button class="md-close btn btn-md btn-primary">Thanks!</button>
      </div>
    </div>
  </div>
</div>