<div class="row">
  <div class="pull-left">
    {%include 'index_a'%}
  </div>

  <div class="pull-right">
    <div>
      {%include 'index_b'%}
    </div>
    <div>
      {%include 'index_c'%}
    </div>
  </div>
</div>
<div class="row">
  {%include 'index_d'%}
</div>
