<div class="row">
  <div class="col-md-8 col-sm-8">
    {%include 'index_a'%}
  </div>

  <div class="col-md-4 col-sm-4 hidden-xs">
    <div>
      {%include 'index_b'%}
    </div>
    <div>
      {%include 'index_c'%}
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-12">
    {%include 'index_d'%}
  </div>
</div>
