
//BOOTSTRAP BRAND COLORS
// Brand colors
// -------------------------

@brand-primary:         #428bca;
@brand-success:         #5cb85c;
@brand-warning:         #f0ad4e;
@brand-danger:          #d9534f;
@brand-info:            #5bc0de;

// -------------------------

//ZORAAB GREENS
@zoraab-green1:         #67c5a9;
@zoraab-green2:         #b3e2d4;
@zoraab-green3:         #e1f3ee;

//ZORAAB OTHERS
@zoraab-black:          #404041;
@zoraab-grey:           #99999f;
@zoraab-red:            #E65D47;


.display-inline {
	display: inline-block;
}

.pos-relative {
	position: relative;
}

.center {
	margin: 0 auto;
}

.border-box {
	// NOTE: add in browser prefixes!
	box-sizing: border-box;
}