.account-forms{
  .hero-img{
    width: 100%;
    img{
      width: 100%;
    }
  }
  .account-form{
    right: 10%;
    top: 10%;
    margin-top: 100px;
    position: absolute;
    max-width: 350px;
    width: 100%;
    padding: 30px;
    background-color: #fff;
    text-align: center;
    h3{
      color: $accent-color;
      font-weight: 300;
      font-size: 22px;
    }
    .form-control{
      margin-bottom: 5px;
    }
    input{
      width: 100%;
      text-transform: uppercase;
      letter-spacing: 2px;
      font-size: 13px;
    }
    .btn{
      margin-top: -10px;
      margin-bottom: 10px;
    }
    .alert{
      ul{
        margin: 0;
        list-style: none;
        padding: 0;
        li{
          display: inline-block;
          margin: 0;
          padding: 0;
        }
      }
    }
    #login-form{
    }
    #recover-password{
      display: none;
      .btn{
        margin-top: 10px;
      }
      p{
        color: $faded-color;
        font-family: $plain-text-font;
        width: 80%;
        margin: -5px auto 20px;
      }
    }
    #create-account{
      .btn{
        margin-top: 10px;
      }
    }
    #password-reset-form{
      .btn{
        margin-top: 10px;
      }
    }
    ::-webkit-input-placeholder {
      color: $faded-color;
    }
    :-moz-placeholder {
      color: $faded-color;  
    }

    ::-moz-placeholder { 
      color: $faded-color;  
    }

    :-ms-input-placeholder {  
      color: $faded-color;  
    }
  }
}

// MEDIUM DESKTOPS
@media (max-width: 1200px) {
.account-forms{
  .account-form{
    top: 5%;
    right: 5%;
  }
} 
} 

// TABLETS
@media (max-width: 992px) { 
  .account-forms{
    .account-form{
      top: 0%;
      right:0%;
    }
  }
} 

// SMALL PHONES
@media (max-width: 768px) {
  .account-forms{
    .account-form{
      top: 6%;
      left: 0;
      width: 100%;
      margin: 0 auto;
    }
  }
} 

// IPHONE
@media (max-width: 450px) {
} 



