.account{
  border: 1px solid $faded-color;
  padding: 25px;
  font-family: $number-font;
  .nav{
    width: 100%;
    li{
      width: 20%;
      text-align: center;
    }
  }
  .account-body{
    padding: 0 10px;
    h2{
      font-size: 24px;
      font-weight: normal;
      margin: 40px 0px;
    }
    h3{
      font-size: 18px;
      font-weight: normal;
      color: $accent-color;
      .edit-account{
        font-size: 14px;
        cursor: pointer;
        color: $primary-color;
      }
      .edit-account:hover{
        text-decoration: underline;
      }
    }
    .left-section{
      border-right: 1px solid $faded-color;
      margin-right: -10px;
      .example-img{
        margin-top: 20px;
        background-color: $faded-color;
        height: 125px;
        width: 200px;
      }
    }
    .right-section{
      padding-left: 40px;
      img{
        margin-top: 20px;
        float: right;
      }
    }
    table{
      width: 100%;
      th{
        text-align: center;
      }
      td{
        text-align: center;
      }
    }
    .account-info{
      width: 70%;
      td{
        text-align: left;
        height: 40px;
      }
    }
  }
}