.account-hero{
  margin-left: -12px;
  margin-right: -10px;
  height: 25%;
  max-height: 350px;
  overflow: hidden;
  margin-bottom: 2%;
  img{
    width: 100%;
  }
}
.account{
  border: 1px solid $faded-color;
  padding: 25px;
  font-family: $number-font;
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
  .nav{
    width: 100%;
    li{
      width: 20%;
      text-align: center;
    }
    a{
      color: $primary-color;
    }
    a:hover{
      background-color: $accent-color;
      color: #fff;
      border-top: 1px solid $accent-color;
      border-left: 1px solid $accent-color;
      border-right: 1px solid $accent-color;
    }
    .active{
      a{
        color: $accent-color;
      }
      a:hover{
        color: $accent-color;
      }
    }
  }
  .account-body{
    padding: 0 10px;
    position: relative;
    h2{
      font-size: 24px;
      font-weight: normal;
      margin: 40px 0px;
      span{
        font-size: 12px;
        color: $faded-color;
      }
      a{
        color: $faded-color;
      }
    }
    .second-heading{
      margin-top: 40px;
    }
    h3{
      font-size: 18px;
      font-weight: normal;
      color: $accent-color;
      .edit-data{
        font-size: 14px;
        cursor: pointer;
        color: $primary-color;
      }
      .edit-data:hover{
        text-decoration: underline;
      }
    }
    .left-section{
      border-right: 1px solid $faded-color;
      width: 65%;
      .grav-img{
        margin-top: 20px;
        height: 150px;
        width: 150px;
        
      }
    }
    .right-section{
      width: 30%;
      float: right;
      img{
        margin-top: 20px;
        float: right;
      }
    }
    #subData{
      .left-section{
        width: 25%;
        padding-right: 1%;
      }
      .right-section{
        width: 74%;
        .no-order{
          display: none;
          img{
            max-width: 130px;
            width: 24%;
            float: left;
          }
          p{
            float: left;
            font-family: $serif-font;
            color: $emphasis-color;
            font-size: 30px;
            width: 65%;
            margin-left: 8%;
          }
        }
        .sub-order{
          list-style: none;
          padding: 0;
          margin: 0;
          min-height: 135px; 
          li{
            display: inline-block;
            img{
              width: 100px;
            }
          }
        }
        h5{
          margin-bottom: 2px;
        }
        .status{
          color: $faded-color;
          font-style: italic;
        }
        .next-month{
          margin-top: 17px;
          border-top: 1px solid $faded-color;
          padding-top: 17px;
        }
      }
      .bottom-section{
        a:hover{
          svg{
            path{
              fill: $accent-color;
            }
          }
        }
      }
    }
    #noSub{
      display: none;
      #subHero{
        height: 350px;
        border-bottom: none;
      }
    }
    .account-info-img{
      img{
        max-width: 325px;
      }
    }
    .addresses-img{
      img{
        max-width: 320px;
      }
    }
    table{
      width: 100%;
      th{
        text-align: center;
      }
      td{
        text-align: center;
      }
      margin-bottom: 25px;
    }
    .data-submit{
      width: 70%;
      display: none;
    }
    .address-submit, .contact-submit{
      width: 70%;
      display: none; 
    }
    .account-info{
      width: 70%;
      td{
        text-align: left;
        height: 50px;
      }
      
    }
    .enrolled-date{
      margin-top: 30px;
      margin-bottom: 30px;
    }
    .next-date{
      margin-bottom: 30px;
    }
    .top-section{
      border-bottom: 1px solid $faded-color;
    }
    .bottom-section{
      padding-top: 20px;
    }
  }
}


// MEDIUM DESKTOPS
@media (max-width: 1200px) { 
} 

// TABLETS
@media (max-width: 992px) { 
} 

// SMALL PHONES
@media (max-width: 768px) {
  .account{
    padding: 10px 3px;
    .account-body{
      padding: 0;
      h2{
        margin-bottom: 15px;
      }
      .left-section{
        border-right: none;
        border-bottom: 1px solid $faded-color;
        width: 100%;
        padding-bottom: 4%;
        margin-bottom: 4%;
      }
      .right-section{
        width: 100%;
      }
      .account-info{
        width: 100%;
      }
      .data-submit{
        width: 100%;
      }
      .address-submit{
        width: 100%;
      }
      .contact-submit{
        width: 100%;
      }
      #subData{
        .left-section{
          width: 100%;
        }
        .right-section{
          width: 100%;
          .no-order{
            img{
              
              display: none;
            }
            p{
              width: 100%;
              margin: 0
            }
          }
        }
      }
    }
  }
} 

// IPHONE
@media (max-width: 450px) {
  .hidden-xxs{
    display:none;
  }
} 



