.blogs{
  max-width: 1000px;
  margin: 0 auto;
  .blog-hero{
    text-align: center;
    margin-bottom: 50px;
    height: 500px;

    .hero-content{
      z-index: 2;
      float: left;
      position: relative;
      width: 150px;
      text-align: left;
      border-top: 5px solid $accent-color;
      h1{
        width: 350px;
        font-size: 50px;
        font-weight: 100;
      }
      h3{
        width: 280px;
        font-size: 25px;
        line-height: 40px;
      }
      h5{
        margin-top: 25px;
      }
    }
    #featuredImage{
      height: 500px;
      width: 800px;
      margin: 0 auto;
      float: right;
      img{
        position: relative;
        z-index: 1;
        height: 500px;
        width: 800px;
      }
    }
    .hero-blog-reveal{
      opacity: 1.0;
    }
  }
  .blog-grid{
      clear: both;
    .blog-preview{
      // opacity: 0.0;
      -webkit-transition: opacity 10s ease-in-out;
      -moz-transition: opacity 10s ease-in-out;
      -o-transition: opacity 10s ease-in-out;
      -ms-transition: opacity 10s ease-in-out;
      transition: opacity 10s ease-in-out;
      a{
        color: $primary-color;
      }
      a:hover{
        text-decoration: none;
      }
    }
    .blog-preview-revealed{
      opacity: 1.0
    }
    padding:0px;
    list-style: none;
    li{
      margin:0 auto;
      display: inline-block;
      width: 33%;
      text-align: center;
      margin-bottom: -35px;
      cursor: pointer;
      .preview-img{
        margin: 0 auto;
        border: 1px solid $faded-color;
      }
      .preview-text{
        position: relative;
        top: -70px;
        background-color: #fff;
        width: 60%;
        height: 70px;
        border: 1px solid $faded-color;
        left: 14px;
        text-align: left;
        padding: 20px;
        -webkit-transition: all 150ms ease-in-out;
        -moz-transition: all 150ms ease-in-out;
        -o-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
      }
      .preview-text-hover{
        background-color: $emphasis-color;
        color: #fff;
        
      }
    }
    
  }
}