.blogs{
  max-width: 960px;
  margin: 0 auto;
  .blog-hero{
    text-align: center;
    margin-bottom: 50px;
    height: 595px;

    .hero-content{
      z-index: 2;
      float: left;
      position: relative;
      width: 150px;
      text-align: left;
      border-top: 5px solid $accent-color;
      h1{
        width: 350px;
        font-size: 50px;
        font-weight: 100;
      }
      h3{
        width: 280px;
        font-size: 25px;
        line-height: 40px;
      }
      h5{
        margin-top: 25px;
      }
    }
    #featuredImage{
      height: 595px;
      width: 745px;
      margin: 0 auto;
      float: right;
      img{
        position: relative;
        z-index: 1;
        height: 595px;
        width: 745px;
      }
    }
    .hero-blog-reveal{
      opacity: 1.0;
    }
  }
  .blog-heading{
    padding-bottom: 30px;
    text-align: center;
    h5{
      font-size: 20px;
      font-style: italic;
      font-weight: 300;
      color: $accent-color;
      background-color: #fff;
      width: 15%;
      margin: 0 auto;
      padding: 0;
      text-align: center;
      margin-top: -11px;
    }
    .blog-line{
      width: 100%;
      border-bottom: 1px solid $faded-color;
    }
  }
  .blog-grid{
      width: 100%;
      max-width: 960px;
      clear: both;
      margin: 0;
      padding:0px;
      list-style: none;
    .blog-preview{
      a{
        color: $primary-color;
      }
      a:hover{
        text-decoration: none;
      }
    }
    .blog-preview-revealed{
      opacity: 1.0
    }
    li{
      margin: 0 auto;
      margin-bottom: -50px;
      display: inline-block;
      height: auto;
      text-align: center;
      cursor: pointer;
      .preview-img{
        float:left;
        border: 1px solid $faded-color;
        width: 100%;
      }
      .preview-text{
        position: relative;
        letter-spacing: 1px;
        top: -70px;
        background-color: #fff;
        width: 60%;
        height: 70px;
        border: 1px solid $faded-color;
        text-align: left;
        padding: 20px 15px;
        text-transform: uppercase;
        overflow: hidden;
        font-size: 11px;
        -webkit-transition: all 150ms ease-in-out;
        -moz-transition: all 150ms ease-in-out;
        -o-transition: all 150ms ease-in-out;
        transition: all 150ms ease-in-out;
      }
      .preview-text-hover{
        background-color: $accent-color;
        color: #fff;
        
      }
    }
    .col-one{
      padding-left: 0;
      padding-right: 20px;
    }
    .col-three{
      padding-right: 0px;
      padding-left: 20px;
    }
    
  }
}


@media (max-width: 767px) {
  .blogs{
    .blog-grid{
      .xs-col-one{
        padding-left: 0;
        padding-right: 15px;
      }
      .xs-col-two{
        padding-right:0;
        padding-left: 15px;
      }
    }
  }
}

@media (max-width: 480px) {
  .blogs{
    .blog-grid{
      li{
        width: 100%;
        padding: 0;
      }
      .xs-col-one{
        padding-right: 0;
      }
      .xs-col-two{
        padding-left: 0;
      }
    }
  }
}

