.blog{
  max-width: 800px;
  overflow:hidden;
  margin:0 auto;
  border-top: 1px solid $faded-color;
  p{
    width: 600px;
    margin: 0 auto;
    line-height: 23px;
  }
  .main{
    width: 800px;
    height: 450px;
    margin: 0 -100px;
    margin-bottom: 25px;
  }
  h1{
    font-size: 40px;
    font-weight: 100;
  }
  .quote{
    font-size: 25px;
    line-height: 40px;
    text-align: center;
    border-top: 1px solid $faded-color;
    border-bottom: 1px solid $faded-color;
    margin: 15px 75px;
    padding: 55px 50px 15px 50px;
    background: url('./icon_quote.svg') no-repeat center -3%;
  }
}