.header-blog{
  background-color: #fff;
  position:absolute;
  z-index: -1;
  height:81px;
  top: 0;
  left:0;
  width:100%;
}

.blog-iframe{
  iframe {
    z-index: -2;
    position: absolute;
    top: 47px;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
    padding-top: 0px;
    box-sizing: border-box;
    -moz-box-sizing: border-box; 
    -webkit-box-sizing:border-box;
  }
}

@media (max-width: 768px) {
  .blog-iframe{
    iframe{
      top: 35px;
    }
  }
}

.blog-loader{
  width: 100%;
  height: 400px;
  text-align: center;
  z-index: -3;
  img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
    width: 35px;
  }
}