.bundler{
  .left-panel{
    width: 100%;
    float: left;
    height: 600px;
    border: 1px solid $faded-color;
    img{
      width: 60%;
    }
  }
  .right-panel{
    background-color: #fff;
    position:absolute;
    left: 59%;
    width: 40%;
    float: right;
    border: none;
    text-align: center;
    padding-top: 10px;
    margin-top: 1px;
    max-width: 620px;
    h1{
      margin: 0 auto;
      width: 100%;
      max-width: 300px;
      font-weight: 300;
      font-size: 28px;
      line-height: 35px;
    }
    .price{
      width: 135px;
      position: absolute;
      left: 8%;
      top: 13%;
    }
    .mid-border{
      margin: 9px auto 0;
      width: 85%;
      max-width: 170px;
      border-bottom: 1px solid $faded-color;
    }
    h3{
      font-size: 17px;
      font-weight: 400;
      font-family: $number-font;
      margin: 14px auto 20px;
    }
    .btn{
      padding: 8px 35px;
      font-size: 25px;
    }
    h4{
      font-size: 18px;
      font-weight: 300;
      font-family: $number-font;
      width: 85%;
      max-width: 200px;
      margin: 14px auto;
      line-height: 24px;
    }
    ul{
      list-style: none;
      margin: 0;
      padding: 0;
      li{
        visibility: hidden;
        display: inline-block;
        margin: 0 0 10px;
        padding: 0;
        width: 19%;
        img{
          width: 100%;
        }
      }
    }
    .nyt-logo{
      width: 100%;
      max-width: 300px;
    }
  }
}


// EDGE
@media (max-width: 1600px) { 
  .bundler{
    .right-panel{
      left: 60%;
    }
  }
} 


// MEDIUM DESKTOPS
@media (max-width: 1200px) { 
  .bundler{
    .right-panel{
      padding-top: 3px;
      h1{
        max-width: 400px;
      }
      .price{
        width: 115px;
        left: 8%;
        top: 9%;
      }
      .nyt-logo{
        max-width: 250px;
      }
    }
  }
} 

// TABLETS
@media (max-width: 992px) { 
  .bundler{
    .left-panel{
      img{
        width: 100%;
      }
    }
    .right-panel{
      position: static;
      width: 100%;
      max-width: inherit;
      h1{
        max-width: 100%;
        font-size: 26px
      }
      h4{
        max-width: 100%;
      }
    }
  }
} 

// SMALL PHONES
@media (max-width: 768px) {
} 

// IPHONE
@media (max-width: 450px) {
} 