#button-container{
   height: 66px;
   font-size: 15px;
   .button-ks {
      width: 50%;
      height: 100%;
      float: left;
      text-decoration:none;
      text-align: center;
      background: $primary-color;
      color: white;
      font-size: 16px;
      text-decoration: none;
      cursor: pointer;
      }
   .button-ks:hover {
      text-decoration:none;
      background: #7F7F7F;
      color: white;
      }
   .button-co {
      height: 100%;
      float: right;
      text-decoration:none;
      text-align: center;
      width: 50%;
      font-size: 16px;
      }
   .button-co:hover {
      text-decoration:none;
      background: #6BD6C0;
      } 
}

#head {
   background: #EDF2ED;
}

#ship {
   background: $faded-color;
   font-size: 12px;
   text-align: center;
   color: white;
   padding: 10px 0px;
   font-style: italic;
}

#pricing{
   margin: 10px 10px;
   table{
      width: 88%;
      margin: 0 auto;
      tr{
         cursor: initial;
      }
      td{
         font-size:12px;
         border: 1px solid black;
      }
      .header{
         font-size: 19px;
         border-bottom: 1px solid $faded-color;
         padding-bottom: 15px;
      }
      .left{
         text-align: left;
      }
      .right{
         text-align: right;
      }
   }
}


.prod-img{
   height: 140px;
}



.prod-title{
   font-size: 22px;
   position: absolute;
   width: 200px;
   margin-top: 8px;
   text-decoration: none;
}

.item-price{
   font-family: $number-font;
   position: absolute;
   font-weight: 400;
   margin-top: 45px;
   width: 200px;
   font-size: 18px;
}

.empty-cart{
   text-decoration:none;
   padding: 10px 32px;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   font-size: 16px;
   vertical-align: middle;
   background: #3d3d3d;
   color: #666666;
   border-color: #3d3d3d;
}


.empty-cart-message{
   text-align: center;
}

#button-container{
   font-size: 0;
}

#co{
   // font-family: FontAwesome;
}

.update{
   width:20px;
   text-align: center;
}

.line-items{
   border-bottom: 1px solid $faded-color;
   width: 100%;
   height: 200px;
   .img-wrapper{
      margin-top: 15px;
      width: 170px;
      margin-right: 15px;
      height: 170px;
      text-align: center;
      float: left;
   }
   .product-details{
      float: left;
      padding-top: 15px;
      
   }
   .close-button{
    margin: -30px -246px 0 0;
    float: right;
    svg{
      width: 12%;
    }
  }
  .qty{
   font-size: 14px;
   position: absolute;
   margin-top: 15px;
   input{
      width: 40px;
      height: 35px;
      border: 1px solid $faded-color;
      margin-left: 10px;
   }
}
}

// .cart-canvas{
  
//    // position: fixed;
//    // top: 0px;
//    // height: 100%;
//   // -webkit-backface-visibility: hidden;
//   // position: relative;
//   // width: 100%;
//   // *zoom: 1;
//   // -webkit-transition: -webkit-transform 500ms ease;
//   // -moz-transition: -moz-transform 500ms ease;
//   // -ms-transition: -ms-transform 500ms ease;
//   // -o-transition: -o-transform 500ms ease;
//   // transition: transform 500ms ease; 
//    aside{
//       position: fixed !important;
//         width: 100%;
//   *zoom: 1;
//   -webkit-transition: -webkit-transform 500ms ease;
//   -moz-transition: -moz-transform 500ms ease;
//   -ms-transition: -ms-transform 500ms ease;
//   -o-transition: -o-transform 500ms ease;
//   transition: transform 500ms ease; 
//       transition: transform 500ms ease;
//      //      -ms-transform: translate(-48.10rem, 0);
//      // -webkit-transform: translate3d(-48.10rem, 0, 0);
//      // -moz-transform: translate3d(-48.10rem, 0, 0);
//      // -ms-transform: translate3d(-48.10rem, 0, 0);
//      // -o-transform: translate3d(-48.10rem, 0, 0);
//      // transform: translate3d(-48.10rem, 0, 0);
//    }
   
// }
// .move-left > .cart-canvas aside {
//      -ms-transform: translate(-48.10rem, 0);
//      -webkit-transform: translate3d(-48.10rem, 0, 0);
//      -moz-transform: translate3d(-48.10rem, 0, 0);
//      -ms-transform: translate3d(-48.10rem, 0, 0);
//      -o-transform: translate3d(-48.10rem, 0, 0);
//      transform: translate3d(-48.10rem, 0, 0);
// }

// .no-csstransforms .move-left > .cart-canvas {
//   right: 15.625rem; }