#button-container{
   height: 66px;
   font-size: 15px;
   .button-ks {
      width: 50%;
      height: 100%;
      float: left;
      text-decoration:none;
      text-align: center;
      background: $primary-color;
      color: white;
      font-size: 16px;
      text-decoration: none;
      cursor: pointer;
      }
   .button-ks:hover {
      text-decoration:none;
      background: #7F7F7F;
      color: white;
      }
   .button-co {
      height: 100%;
      float: right;
      text-decoration:none;
      text-align: center;
      width: 50%;
      font-size: 16px;
      }
   .empty-cart{
      height:100%;
      float: right;
      text-decoration:none;
      text-align: center;
      width: 50%;
      font-size: 16px;
      background: #3d3d3d;
      color: #666666;
      border-color: #3d3d3d;
   }
   .button-co:hover {
      text-decoration:none;
      background: #6BD6C0;
      } 
}

#head {
   background: #EDF2ED;
}

#ship {
   background: $faded-color;
   font-size: 12px;
   text-align: center;
   color: white;
   padding: 10px 0px;
   font-style: italic;
}

#pricing{
   margin: 10px 10px;
   table{
      width: 88%;
      margin: 0 auto;
      tr{
         cursor: initial;
      }
      td{
         font-size:12px;
         border: 1px solid black;
      }
      .header{
         font-size: 19px;
         border-bottom: 1px solid $faded-color;
         padding-bottom: 15px;
      }
      .left{
         text-align: left;
      }
      .right{
         text-align: right;
      }
   }
}


.prod-img{
   height: 140px;
}



.prod-title{
   font-size: 22px;
   position: absolute;
   width: 200px;
   margin-top: 8px;
   text-decoration: none;
}

.item-price{
   font-family: $number-font;
   position: absolute;
   font-weight: 400;
   margin-top: 45px;
   width: 200px;
   font-size: 18px;
}




.empty-cart-message{
   text-align: center;
   h2{
      color: $accent-color;
      width: 75%;
      margin: 0 auto;
      margin-top: 80px;
      border: 1px solid $faded-color;
      padding: 15px;
   }
}

#button-container{
   font-size: 0;
}

#co{
   // font-family: FontAwesome;
}

.update{
   width:20px;
   text-align: center;
}

.line-items{
   position: relative;
   border-bottom: 1px solid $faded-color;
   width: 100%;
   height: 203px;
   .loader{
      opacity: 0.0;
      z-index: -5;
      width:100%;
      height: 100%;    
      position: absolute;
      top: 0;
      right: 0;
      -webkit-transition: opacity 150ms ease-in-out;
      -moz-transition: opacity 150ms ease-in-out;
      -o-transition: opacity 150ms ease-in-out;
      -ms-transition: opacity 150ms ease-in-out;
      transition: opacity 150ms ease-in-out;
      .overlay{
         width: 100%;
         height: 100%;
         background-color: #fff;
         opacity: 0.7;
         position: absolute;
         top: 0;
         right: 0;
      }
      img{
         top: 0;
         margin: 0 auto;
         height: 35px;
         width: 35px;
         margin-top: 82px;
      }
   }
   .loading{
      opacity: 1.0;
      z-index: 5;
   }
   .img-wrapper{
      margin-top: 15px;
      width: 170px;
      margin-right: 15px;
      height: 170px;
      text-align: center;
      float: left;
   }
   .product-details{
      float: left;
      padding-top: 15px;
      
   }
   .close-button{
    margin: -30px -246px 0 0;
    float: right;
    svg{
      width: 12%;
    }
  }
  .qty{
   font-size: 16px;
   position: absolute;
   margin-top: 49px;
   .times{
      margin: 0 15px;
   }
   .plus-btn{
      padding: 0 9px;
      margin-right: -13px;
      margin-top: -5px;
      float: right;
   }
   .minus-btn{
      padding: 0 9px;
      margin-right: -13px;
      background-color: $primary-color;
      float: right;
      margin-top: -13px;
      margin-bottom: 2px;
   }
   .minus-btn:hover{
      background-color: #7F7F7F;
   }
   input{
      width: 40px;
      height: 35px;
      border: 1px solid $faded-color;
      margin-left: 10px;
      }
   }
   .subtotal{
      border-top: 1px solid $faded-color;
      margin-top: 120px;
      font-size: 16px;
      position: absolute;
      width: 213px;
      padding-right: 5px;
      .text{
         float: left;
      }
      .amt{
         float: right;
      }
   }
   
}

.cart-canvas{
   aside{
      border-left: 1px solid $faded-color;
      position: fixed !important;
      *zoom: 1;
      -webkit-transition: -webkit-transform 500ms ease;
      -moz-transition: -moz-transform 500ms ease;
      -ms-transition: -ms-transform 500ms ease;
      -o-transition: -o-transform 500ms ease;
      transition: transform 500ms ease; 
      transition: transform 500ms ease;
      z-index: 10000;
   }
}
.move-left > .cart-canvas aside {
     -ms-transform: translate(0.0rem, 0);
     -webkit-transform: translate3d(0.0rem, 0, 0);
     -moz-transform: translate3d(0.0rem, 0, 0);
     -ms-transform: translate3d(0.0rem, 0, 0);
     -o-transform: translate3d(0.0rem, 0, 0);
     transform: translate3d(0.0rem, 0, 0);
}


@media screen and (max-width: 530px) {
   .line-items{
      .img-wrapper{
         margin-right: 0px;
         width: 108px;
         height: 108px;
         margin-top: 30px;
      }
   }
}

@media screen and (max-width: 400px) {
   .line-items{
      height: 175px;
      .img-wrapper{
         margin-right: 0px;
         width: 108px;
         height: 108px;
         margin-top: 30px;
      }
      .product-details{
         .prod-title{
            font-size:17px;
         }
         .qty{
            font-size: 14px;
            .times{
               margin: 0 3px;
            }
            input{
               height: 25px;
               width: 25px;
               margin-right: 0px;
            }
            .plus-btn{
               padding: 3px 16px;
               margin-right: 10px;
               margin-left:-10px;
               margin-top: -16px;
            }
            .minus-btn{
               padding: 3px 16px;
               margin-right: 10px;
               margin-left:-10px;
            }
         }
         .subtotal{
            width: 160px;
            margin-top: 125px;
            .text{
               font-size: 14px;
            }
            .amt{
               font-size: 14px;
            }
         }
      }
   }
}