.button-ks {
   text-decoration:none;
   background: #606060;
   padding: 15px 26px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   -webkit-box-shadow: rgba(0,0,0,1) 0 1px 0;
   -moz-box-shadow: rgba(0,0,0,1) 0 1px 0;
   box-shadow: rgba(0,0,0,1) 0 1px 0;
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 16px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button-ks:hover {
   text-decoration:none;
   background: #7F7F7F;
   color: white;
   }

.button-co {
   text-decoration:none;
   background: #67C5A9;
   padding: 10px 31px;
   -webkit-border-radius: 0px;
   -moz-border-radius: 0px;
   border-radius: 0px;
   
   text-shadow: rgba(0,0,0,.4) 0 1px 0;
   color: white;
   font-size: 16px;
   font-family: Georgia, serif;
   text-decoration: none;
   vertical-align: middle;
   }
.button-co:hover {
   text-decoration:none;
   background: #6BD6C0;
   }

#head {
   background: #EDF2ED;
}

#ship {
   background: #A8A6A5;
   font-size: 11px;
   text-align: center;
   color: white;
   padding: 5px 0px;
   font-style: italic;
}

#pricing{
   margin: 10px 10px
}

.spacing-right{
   float: right;
}

.spacing-left{
   padding-left: 20px;
}

#prod-img{
   height: 140px;
}

#qty{
   font-size: 10px;
   position: absolute;
   margin-top: 15px;
}

#prod-title{
   font-size: 18px;
   position: absolute;
   width: 200px;
   margin-top: 8px;
   text-decoration: none;
}

#item-price{
   position: absolute;
   margin-top: 68px;
   width: 200px;
   font-size: 14px;
}