.collection-grid{
  .paginate{
    text-align: center;
    height:21px;
    margin-bottom: 0px;
    margin-top: -30px;
    margin: 0 auto;
    a{
      font-size: 34px;
    }
    .arrow{
      float:right;
      margin-top:-13px;
      margin-left: 7px;
      
    }
    .text{
      float: right;
      margin-left: 7px;
      font-style: italic;
    }
  }
  position:relative;
  max-width: 1600px;
  text-align: center;
  margin:0 auto;
  ul{
    padding:0px;
    list-style: none;
    border-radius: 0px;
    text-align:right;
    li {
      padding: 25px 0;
      margin:0 auto;
      display: inline-block;
      text-align: center;
      width: 20%;
      .collection-item{
        position: relative;
        width:100%;
        cursor: pointer;
        .item-desc{
          opacity: 0.0;
          position:absolute;
          height:100%;
          width:100%;
          -webkit-transition: opacity 100ms ease-in-out;
          -moz-transition: opacity 100ms ease-in-out;
          -o-transition: opacity 100ms ease-in-out;
          -ms-transition: opacity 100ms ease-in-out;
          transition: opacity 100ms ease-in-out;
          .overlay{
            position: absolute;
            background-color: white;
            opacity:0.8;
            height:99%;
            width:100%;
          }
          .item-detail{
            position: absolute;
            margin: 0 auto;
            text-align: center;
            width:100%;
            height:100%;
            padding: 20% 0;
            h4{
              color:$primary-color;
              font-weight: lighter;
            }
            h6{
              margin: 10% 0;
              font-weight: lighter;
            }
          }
        }
        .img-wrapper{
        }
        img {
          max-width:100%;
          max-height:100%;
          padding-bottom: 7px;
        }
        .pricing-info{
          border-top: 1px solid $faded-color;
          width:250px;
          margin: 0 auto;
          z-index: 10;
        }
        h5{
          color: #fff;
          font-size: 15px;
          font-weight: lighter;
          text-align: right;
          background-color: $accent-color;
          width: 35px;
          padding: 4px 5px 11px 5px;
          border-bottom-left-radius: 35px;
          border-bottom-right-radius: 35px;
          float: right;
          margin-top: 0px;
        }
      }
    }
    
  }
}

@media screen and (max-width: 87.375em) {
  .collection-grid > ul > li {
    width: 25%;
  }
}

@media screen and (max-width: 68.125em) {
  .collection-grid > ul > li {
    width: 33%;
  }
}

@media screen and (max-width: 46.125em) {
  .collection-grid > ul > li {
    width: 50%;
  }
}

@media screen and (max-width: 768px) {
  .collection-grid > ul > li {
    .collection-item{
      .pricing-info{
        width: 180px;
      }
    }
  }
}

@media screen and (max-width: 400px) {
  .collection-grid > ul > li {
    .collection-item{
      .pricing-info{
        width: 100px;
        h5{
          font-size:13px;
          width: 30px;
          padding: 1px 5px 5px 5px;
          border-bottom-left-radius: 30px;
          border-bottom-right-radius: 30px;
        }
      }
    }
  }
}