.collection-grid{
  position:relative;
  max-width: 1600px;
  text-align: center;
  margin:0 auto;
  ul{
    padding:0px;
    list-style: none;
    border-radius: 0px;
    text-align:right;
    li {
      padding: 25px 0;
      margin:0 auto;
      display: inline-block;
      text-align: center;
      width: 20%;
      .collection-item{
        position: relative;
        width:100%;
        cursor: pointer;
        .item-desc{
          opacity: 0.0;
          position:absolute;
          height:100%;
          width:100%;
          -webkit-transition: opacity 100ms ease-in-out;
          -moz-transition: opacity 100ms ease-in-out;
          -o-transition: opacity 100ms ease-in-out;
          -ms-transition: opacity 100ms ease-in-out;
          transition: opacity 100ms ease-in-out;
          .overlay{
            position: absolute;
            background-color: white;
            opacity:0.8;
            height:100%;
            width:100%;
          }
          .item-detail{
            position: absolute;
            margin: 0 auto;
            text-align: center;
            width:100%;
            height:100%;
            padding: 20% 0;
            h4{
              color:$primary-color;
              font-weight: lighter;
            }
            h6{
              margin: 10% 0;
              font-weight: lighter;
            }
          }
        }
        img {
          max-width:100%;
          max-height:100%;
        }
        h5{
          color:$faded-color;
          font-weight: lighter;
        }
      }
    }
    
  }
}

@media screen and (max-width: 87.375em) {
  .collection-grid > ul > li {
    width: 25%;
  }
}

@media screen and (max-width: 68.125em) {
  .collection-grid > ul > li {
    width: 33%;
  }
}

@media screen and (max-width: 46.125em) {
  .collection-grid > ul > li {
    width: 50%;
  }
}