.fs-form-full{
  top: 15%;
  left: -7%;
}


.subscription-form{
  opacity: 0.0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-50;
  transition: opacity 300ms ease-out;
  h3{
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 60px;
    margin-left: -25px;
    padding: 0 5px 0em 0 !important;
  }
  .who-question,.style-question,.quantity-question,.payment-question{
    ul{
      li{
        padding-top: 0.5em;
        padding-bottom: 0.5em;
      }
    }
  }
  .payment-question{
    .checkout-sub-btn{
      .btn{
        font-size: 30px;
        padding: 20px 35px;
        margin-top: 35px;
      }
      .btn-info{
        background-color: transparent;
        border: 2px solid $emphasis-color;
        transition: all 300ms ease-in;
        color: $emphasis-color;
      }
      .btn-info.active{
        background-color: $emphasis-color;
        color: #fff;
      }
    }
  }
  .who-question{
    width: 120% !important;
    h3{
      width: 100%;
    }
    ul{
      width: 40%;
      margin: 0;
      float: left;
      border-right: 1px solid transparent;
      transition: border-color 300ms ease-in;
    }
    .gift-options{
      width: 50%;
      margin: 0;
      height: 300px;
      float: right;
      z-index: -100;
      opacity: 0.0;
      transition: opacity 300ms ease-in;
      input{
        font-size: 30px;
        margin-bottom: 25px;
      }
    }
  }
  .who-question.gifted{
    ul{
      border-color: #fff;
    }
    .gift-options{
      z-index: inherit;
      opacity: 1.0
    }
  }
  .quantity-question{
    ul{
      list-style: none;
      width: 125%;
      text-align: center;
      li{
        padding: 0;
        display: inline-block;
        width: 30%;
        margin: 35px 9px 0;
        label{
          margin: 0;
          padding: 0;
          width: 100%;
        }
        label::before{
          position: absolute;
          top: -34px;
          left: 50%;
          margin-left: -25px;
        }
        svg.anim-svg{
          position: absolute;
          top: -34px;
          left: 50%;
          margin-left: -20px;
        }
        .quantity-box{
          border: 1px solid #fff;
          width: 100%;
          height: 100%;
          padding-bottom: 0;
          transition: all 300ms ease-in;
          .sock-icons{
            margin-top: 25px;
            text-align: center;
            img{
              width: 80%;
              margin: 0 auto;
            }
            svg.icon-sock{
              -ms-transform:rotate(-23deg); /* IE 9 */
              -webkit-transform:rotate(-23deg); /* Chrome, Safari, Opera */
              transform:rotate(-23deg); /* Standard syntax */
              width: 60px;
              path{
                fill: #fff;
                transition: fill 300ms ease-in;
              }
            }
          }
          text-align: center;
          h4{
            margin: 25px auto;
            font-weight: 300;
            font-size: 30px;
            transition: color 300ms ease-in;
          }
          .price-footer{
            width: 90%;
            border-top: 1px solid #fff;
            font-size: 28px;
            font-weight: 300;
            padding: 10px 0;
            font-family: $fun-font;
            margin: 0 auto;
            transition: all 300ms ease-in;
          }
        }
      }
      li:hover{
        .quantity-box{
          border-color: $emphasis-color;
          h4{
            color: $emphasis-color;
          }
          .price-footer{
            border-color: $emphasis-color;
            color: $emphasis-color
          }
          .sock-icons{
            svg{
              path{
                fill: $emphasis-color;
              }
            }
          }
        }
      }
      li.active{
        .quantity-box{
          background-color: $emphasis-color;
          border-color: $emphasis-color;
          h4{
            color: #fff;
          }
          .price-footer{
            color: #fff;
            border-color: #fff;
          }
          .sock-icons{
            svg{
              path{
                fill: #fff;
              }
            }
          }
        }
      }
      
      .plan-5{
        .sock-icons{
          svg{
            margin: 0 -15px;
          }
        }
      }
    }
  }
  .style-list{
    list-style: none;
    padding: 0;
    width: 117%;
    text-align: center;
    li{
      display: inline-block;
      width: 20%;
      margin: 30px 10px 0;
      img{
        border: 1px solid $faded-color;
      }
    }
    label{
      padding: 0;
    }
    label:before{
      position: absolute;
      top: -34px;
      left: 50%;
      margin-left: -25px;
    }
    svg{
      position: absolute;
      top:-16px;
      left: 50%;
      margin-left: -20px;
    }
  }
  .style-pic{
    position: relative;
    width: 100%;
    img{
      width: 100%;
    }
    .style-desc{
      opacity: 0.0;
      position: absolute;
      height: 100%;
      width: 100%;
      -webkit-transition: opacity 100ms ease-in-out;
      -moz-transition: opacity 100ms ease-in-out;
      -o-transition: opacity 100ms ease-in-out;
      -ms-transition: opacity 100ms ease-in-out;
      transition: opacity 100ms ease-in-out;
      .overlay{
        position: absolute;
        background-color: white;
        opacity: 0.8;
        height: 100%;
        width: 100%;
      }
      .style-name{
        position: absolute;
        margin: 0 auto;
        text-align: center;
        width: 100%;
        height: 100%;
        padding: 20% 0;
        h4{
          color:$primary-color;
          font-weight: 400;
          font-size: 18px;
          letter-spacing: 0px;
        }
      }
    }
  }
  .fs-continue{
    border-radius: 0px;
    border-color: #58a890;
    color: #58a890;
    transition: all ease-in 300ms;
  }
  .fs-continue:hover{
    border-color: #fff;
    background-color: transparent;
    color: #fff;
  }
  .fs-message-error{
    top: 12%;
    left: 49%;
  }
  
}

#socksOnly.active{
  z-index: 99999999;
  opacity: 1.0;
}

.fs-form-wrap{
  background-color: $accent-color;
}
