.fs-form-full{
  top: 15%;
  left: -7%;
}


.subscription-form{
  opacity: 0.0;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index:-50;
  transition: opacity 300ms ease-out;
  .close-form{
    svg{
      path{
        fill: #346355;
        transition: fill 300ms ease-in;
      }
    }
  }
  .close-form:hover{
    svg{
      path{
        fill: #fff
      }
    }
  }
  h3{
    font-size: 50px;
    font-weight: 300;
    margin-bottom: 60px;
    margin-left: -25px;
    padding: 0 5px 0em 0 !important;
  }
  .who-question,.style-question,.quantity-question,.payment-question{
    ul{
      li{
        padding-top: 0.5em;
        padding-bottom: 0.5em;
      }
    }
  }
  .payment-question{
    width: 120% !important;
    ul.freq-options{
      width: 40%;
      border-right: 1px solid transparent;
      text-align: left;
      margin: 0;
      float:left;
      transition: border-color 300ms ease-in;
    }
    .payment-options{
      float: right;
      text-align: left;
      width: 49%;
      z-index: -100;
      opacity: 0.0;
      transition: opacity 300ms ease-in;
      ul{
        padding: 0;
        li{
          display: inline-block;
          width: 31%;
          label{
            margin: 0;
            padding: 0;
            width: 100%;
          }
          label::before{
            display: none;
          }
          svg.anim-svg{
            display: none;
          }
          .time-box{
            list-style: none;
            border: 1px solid #346355;
            width: 100%;
            height: 100%;
            padding-bottom: 0;
            transition: background-color 300ms, border-color 300ms, ease-in;
            text-align: center;
            h4{
              margin: 10px auto 5px;
              font-weight: 400;
              font-size: 30px;
              transition: color 300ms ease-in;
              font-family: $fun-font;
              color: #346355;
            }
            h5{
              margin-top: 5px;
              transition: color 300ms ease-in;
              color: #346355;
            }
            .price-footer{
              width: 90%;
              border-top: 1px solid #346355;
              color: #346355;
              font-size: 28px;
              font-weight: 400;
              padding: 10px 0;
              font-family: $fun-font;
              margin: 0 auto;
              transition: border-color 300ms, color 300ms, ease-in;
            }
          }
        }
        li.active{
          .time-box{
            background-color: #58a890;
            border-color: #58a890;
            h4{
              color: #fff;
            }
            h5{
              color: #fff;
            }
            .price-footer{
              border-color: #fff;
            }
          }
        }
      }
        
    }
    .checkout-sub-btn{
      .btn{
        font-size: 30px;
        padding: 20px 35px;
        margin-top: 35px;
      }
      .btn-info{
        background-color: transparent;
        border: 2px solid $emphasis-color;
        transition: all 300ms ease-in;
        color: $emphasis-color;
      }
      .btn-info.active{
        background-color: $emphasis-color;
        color: #fff;
      }
    }
  }
  .payment-question.paying-once{
    ul.freq-options{
      border-color: #fff;
    }
    .payment-options{
      z-index: inherit;
      opacity: 1.0
    }
  }
  .who-question{
    width: 120% !important;
    h3{
      width: 100%;
    }
    ul{
      width: 40%;
      margin: 0;
      float: left;
      border-right: 1px solid transparent;
      transition: border-color 300ms ease-in;
    }
    .gift-options{
      width: 50%;
      margin: 0;
      height: 300px;
      float: right;
      z-index: -100;
      opacity: 0.0;
      transition: opacity 300ms ease-in;
      input{
        font-size: 30px;
        margin-bottom: 25px;
      }
    }
  }
  .who-question.gifted{
    ul{
      border-color: #fff;
    }
    .gift-options{
      z-index: inherit;
      opacity: 1.0
    }
  }
  .style-question{
    ul{
      margin-left: -5%;
    }
  }
  .quantity-question{
    ul{
      list-style: none;
      width: 125%;
      text-align: center;
      li{
        padding: 0;
        display: inline-block;
        width: 30%;
        margin: 0 9px 0;
        label{
          margin: 0;
          padding: 0;
          width: 100%;
        }
        label::before{
          display: none;
        }
        svg.anim-svg{
          display: none;
        }
        .quantity-box{
          border: 1px solid #346355;
          width: 100%;
          height: 100%;
          padding-bottom: 0;
          transition: border-color 300ms, background-color 300ms, ease-in;
          .sock-icons{
            margin-top: 25px;
            text-align: center;
            img{
              width: 80%;
              margin: 0 auto;
            }
            svg.icon-sock{
              -ms-transform:rotate(-23deg); /* IE 9 */
              -webkit-transform:rotate(-23deg); /* Chrome, Safari, Opera */
              transform:rotate(-23deg); /* Standard syntax */
              width: 60px;
              path{
                fill: #346355;
                transition: fill 300ms ease-in;
              }
            }
          }
          text-align: center;
          h4{
            color: #346355;
            margin: 25px auto;
            font-weight: 300;
            font-size: 30px;
            transition: color 300ms ease-in;
          }
          .price-footer{
            width: 90%;
            border-top: 1px solid #346355;
            color: #346355;
            font-size: 28px;
            font-weight: 400;
            padding: 10px 0;
            font-family: $fun-font;
            margin: 0 auto;
            transition: border-color 300ms, color 300ms, ease-in;
          }
        }
      }
      li:hover{
        .quantity-box{
          border-color: #58a890;
          background-color: #58a890;
          h4{
            color: #fff;
          }
          .price-footer{
            border-color: #fff;
            color: #fff
          }
          .sock-icons{
            svg{
              path{
                fill: #fff;
              }
            }
          }
        }
      }
      li.active{
        .quantity-box{
          background-color: $emphasis-color;
          border-color: $emphasis-color;
          h4{
            color: #fff;
          }
          .price-footer{
            color: #fff;
            border-color: #fff;
          }
          .sock-icons{
            svg{
              path{
                fill: #fff;
              }
            }
          }
        }
      }
      
      .plan-5{
        .sock-icons{
          svg{
            margin: 0 -15px;
          }
        }
      }
    }
  }
  .style-list{
    list-style: none;
    padding: 0;
    width: 117%;
    text-align: center;
    li{
      display: inline-block;
      width: 20%;
      margin: 30px 10px 0;
      img{
        border: 1px solid $faded-color;
      }
    }
    label{
      padding: 0;
    }
    label:before{
      position: absolute;
      top: -34px;
      left: 50%;
      margin-left: -25px;
    }
    svg.anim-svg{
      position: absolute;
      top:-16px;
      left: 50%;
      margin-left: -20px;
    }
  }
  .style-pic{
    position: relative;
    width: 100px;
    margin: 0 auto;
    height:177px;
    img{
      width: 100%;
    }
    svg{
      path, rect, line, polygon, polyline, circle{
        fill: #346355;
        transition: fill 300ms ease-in;
      }
    }
    
  }
  .argyle{
    svg{
      -ms-transform:rotate(90deg); /* IE 9 */
      -webkit-transform:rotate(90deg); /* Chrome, Safari, Opera */
      transform:rotate(90deg); /* Standard syntax */
      float: right;
      position: absolute;
      right: -55px;
      top: 50px;
      clear: both;
    }
  }
  .argyle > svg:first-child{
    float: left;
    position: absolute;
    left: -55px;
    top: 50px;
    clear: both;
  }
  .polkadots{
    padding-top: 55px;
    svg{
      margin-top: -43px;
    }
  }
  .mustache{
    padding-top: 15px;
    svg{
      display: block;
      margin-top: 4px;
    }
  }
  .stripes{
    overflow: hidden;
    padding-top: 47px;
    svg{
      margin-top:-33px;
    }
  }
  .fs-continue{
    border-radius: 0px;
    border-color: #58a890;
    color: #58a890;
    transition: all ease-in 300ms;
  }
  .fs-continue:hover{
    border-color: #fff;
    background-color: transparent;
    color: #fff;
  }
  .fs-message-error{
    top: 12%;
    left: 49%;
  }
  
  .order-summary-page{
    width: 122% !important;
    height: 600px;
    h4{
      font-size: 28px;
      font-weight: 300;
      margin-bottom: 15px;
    }
    .order-summary-wrapper{
      margin-left: -5%;
    }
    .sub-order-summary{
      width: 60%;
      border-right: 1px solid #fff;
      float: left;
      .chosen-box{
        float: left;
        width: 50%;
        padding-left: 15px;
        .quantity-box{
          padding: 15px 10px 25px;
          width: 90%;
          background-color: $emphasis-color;
          color: #fff;
          text-align: center;
          .acc-icons{
            .icon-sock{
              -ms-transform:rotate(-23deg); /* IE 9 */
              -webkit-transform:rotate(-23deg); /* Chrome, Safari, Opera */
              transform:rotate(-23deg); /* Standard syntax */
              width: 60px;
              path{
                fill: #fff;
              }
            }
          }
          .acc-icons.plan-5{
            svg{
              margin: 0 -12px;
            }
          }
          h5{
            font-family: $fun-font;
            margin: 0 auto;
            font-weight: 400;
            font-size: 30px;
          }
        }
      }
      .chosen-style{
        float: right;
        width: 50%;
        .style-icons{
          svg{
            path, rect, line, polygon, polyline, circle{
              fill: #346355;
            }
          }
        }
      }
    }
    .payment-summary{
      width: 36%;
      padding-right: 25px;
      float: right;
      h5{
        font-size: 22px;
        font-weight: 400;
        font-family: $fun-font;
        .cancel-anytime{
          font-size: 19px;
          font-style: italic;
        }
      }
      .subtotal-amt{
        font-size: 50px;
        font-weight: 400;
        margin-top: 75px;
        .num{
          font-family: $fun-font;
        }
        .per-month{
          font-size: 25px;
        }
      }
    }
    .sub-checkout-btn{
      width: 100%;
      margin: 0 auto;
      float: left;
      text-align: center;
      .btn{
        margin: 45px auto 0;
        font-size: 22px;
        padding: 18px 35px;
      }
    }
  }
  
}

.subscription-form.active{
  z-index: 99999999;
  opacity: 1.0;
}

.fs-form-wrap{
  background-color: $accent-color;
}

.ac-custom input[type="checkbox"]:checked + label {
  .style-pic{
    svg{
      path, rect, line, polygon, polyline, circle{
        fill: #fff;
      }
    }
  }
  
} 
