
.filter{
  a:hover{
    text-decoration: none;
  }
  .panel-body{
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
  }
  .shop-by{
    font-size: 17px
  }
  .btn-tray{
    width: 100%;
    border-bottom: 1px $faded-color solid;
  }
  .pagination{
    position: relative;
    float:right;
    height:21px;
    overflow:hidden;
    margin-bottom: 0px;
    right: 10px;
    margin-top: -30px;
    a{
      font-size: 34px;
    }
    .arrow{
      float:right;
      margin-top:-13px;
      margin-left: 7px;
      
    }
    .text{
      float: right;
      margin-left: 7px;
      font-style: italic;
    }
    
  }
  text-align: left;
  ul{
    list-style: none;
    padding:0px;
  }
  label{
    font-weight: lighter;
    color: $primary-color;
  }
  #filter{
    border-bottom:1px solid $faded-color;
    ul.filter-list{
      padding-left: 3%;
      li{
        float: left;
        width: 20%;
      }
      .accessory-list{
        width: 27%;
      }
      .style-list{
        width: 10%;
        .style{
        li{
          float: none;
          margin-bottom: 10px;
          margin-left: 10px;
          cursor: pointer;
          }
        }
      }
      .color-list{
      }
      .pattern-list{
        h4{
          margin-bottom: -4px;
        }
        
      }
      .brand-list{
        .brand{
          max-width:100%;
          h4{
            margin-left: -10px;
          }
          li{
            width:50%;
            display:inline-block;
            float:left;
          }
        }    
      }
    }
  }
  h4{
    font-weight: lighter;
    .view-all{
      font-size: 10px;
    }
  }
  .color{
    max-width:225px;
    li{
      height:35px;
      max-width: 35px;
      width:18%;
      border: 1px solid #fff;
      display:inline-block;
      margin-right:5%;
      margin-bottom:7%;
    }
    li.black{background-color:#000}
    li.gray{background-color: #99999f}
    li.brown{background-color: #754c24}
    li.blue{background-color: #0054a6}
    li.green{background-color:#00a651}
    li.orange{background-color: #f26522}
    li.pink{background-color: #f26d7d}
    li.red{background-color: #ed1c24}
    li.white{background-color:#fff;border-color: $primary-color}
    li.yellow{background-color: #fff200}
    li.purple{background-color: #662d91}
    li.multi{background-color:#fff;border-color: $primary-color}
    li.selected{border: 3px solid $accent-color;}
  }
  .pattern{
    max-width:225px;
    font-size:10px;
    .selected{border: 3px solid $accent-color;}
    a{
      color: $primary-color;
    }
    li{
      text-align:center;
      height:35px;
      max-width: 35px;
      width:20%;
      display:inline-block;
      margin-right:5%;
      margin-bottom:7%;
    }
  }
  .accessory{
    max-width: 450px;
    margin: 0 auto;
    li{
      text-align: center;
      height:50px;
      max-width: 50px;
      width:25%;
      display:inline-block;
      margin-right:5%;
      vertical-align: middle;
    }
    .last{
      margin-right: 0;
      margin-left: -2px;
    }
    .second{
      margin-right: 6%
    }
    .first{
      margin-left: -25px;
    }
    #sock{
      margin-top:-28%;
      -moz-transform: scaleX(-1);
      -o-transform: scaleX(-1);
      -webkit-transform: scaleX(-1);
      transform: scaleX(-1);
      filter: FlipH;
      -ms-filter: "FlipH";  
    }
    #bowtie{
      margin-top:-4%;
      -ms-transform:rotate(90deg); /* IE 9 */
      -webkit-transform:rotate(90deg); /* Chrome, Safari, Opera */
      transform:rotate(90deg); /* Standard syntax */
    }
    #watch{
      margin-left:22%;
    }
    #tie{
      margin-top:-31%;
      margin-left:-53%;
    }
    #pocketsquare{
      margin-left:-63%;
    }
    .accessory-icon{

    }
    .accessory-icon:hover{

    }
  }

  
}


@media screen and (max-width: 68.125em) {
   #filter{
    ul.filter-list{
      padding-left: 10% !important;
      li{
        width: 41% !important;
      }
      .accessory-list{
        width: 41% !important;
        margin-bottom: 0px;
      }
      .style-list{
        width: 18% !important;
        margin-bottom: 0px;
        .style{
        li{
          }
        }
      }
      .color-list{
        margin-bottom: 0px;
      }
      .pattern-list{
        h4{
          margin-bottom: -4px;
        }
          width: 42% !important;
      }
      .brand-list{
        .brand{
          li{
            width: 50% !important;
          }
        }    
      }
    }
  }
}

@media screen and (max-width: 767px) {
   #filter{
    ul.filter-list{
      padding-left: 0% !important;
      li{
        width: 50% !important;
      }
      .accessory-list{
        width: 83% !important;
        margin-bottom: 0px;
      }
      .style-list{
        width: 18% !important;
        margin-left:-8%;
        margin-bottom: 0px;
        .style{
        li{
          float: left;
          }
        }
      }
      .color-list{
        margin-bottom: 0px;
        margin: 0 auto;
        li{
          text-align: center;
        }
      }
      .pattern-list{
        h4{
          margin-bottom: -4px;
        }
        width: 50% !important;
      }
    }
  }
}

@media screen and (max-width: 400px) {
   #filter{
    ul.filter-list{
      padding-left: 0% !important;
      li{
        width: 50% !important;
      }
      .accessory-list{
        width: 100% !important;
        margin-bottom: 0px;
      }
      .style-list{
        width: 100% !important;
        margin-left:0;
        margin-top: 30px;
        margin-bottom: 0px;
        .style{
          a{
            float: left;
          }
        li{
          margin-right: 15px;
          }
        }
      }
      .color-list{
        width: 100% !important;
        margin-bottom: 0px;
        margin: 0 auto;
        li{
          text-align: center;
        }
      }
      .pattern-list{
        h4{
          margin-bottom: -4px;
        }
        width: 100% !important;
      }
    }
  }
}