.email-signup {
  background: $accent-color;
  color: white;
  font-size:24px;
  padding: 8px;
  margin: 0 auto;
  text-align: center;
  .emphasize{
    color: $emphasis-color;
  }
  .free-shipping{
    font-style: italic;
    font-size: 12px;
  }
  input[type=email]{
    padding:5px;
    font-size:15px;
    color: $primary-color;
  }  
}

.press-banner{
  height:100%;
  vertical-align: middle;
  padding: 0px 50px;
  max-width:1600px;
  margin: 0 auto;
  text-align: center;
}

.bottom-footer{
  padding-top:25px;
  padding-bottom:25px;
  height:auto;
  background-color: #99999f;
  color:white;
  padding-left: 5%;
  padding-right: 5%;
  .content{
    max-width:1600px;
    margin: 0 auto;
    text-align: left;
    h5{
      font-weight: lighter;
    }
    p{
      font-weight: lighter;
    }
    a{
      color: white;
    }
    .footer-links{
      border-left: 1px solid white;
      border-right: 1px solid white;
    }
    .copyright{
      margin-top:10px;
    }
  }
  ul{
    padding:0px;
    list-style: none;
    border-radius: 0px;
    li {
      margin-top:10px;
    } 
  }
}

.social-icons{
  ul{
    margin-left:25px;
    list-style:none;
    width:100%;
    font-size:40px;
    li{
      display: inline-block;
      width: 60px;
      height: 60px;
      background-color: #fff;
      text-align: center;
      border-radius: 30px;
      a{
        color: $faded-color !important;  
      }
      a:hover{
        color: $accent-color !important;  
      }
    }
  }
}

.footer{
  margin-top:45px;
}