.as-seen{
  max-width:1600px;
  margin:0 auto;
  p{
    background-color: $emphasis-color;
    color: #fff;
    width: 95px;
    padding: 4px 5px;
  }
}
.press-banner{
  height:100%;
  vertical-align: middle;
  border-top: 1px solid $accent-color;
  padding: 0px 50px;
  max-width:1600px;
  margin: 0 auto;
  text-align: center;
  margin-top: -10px;
  margin-bottom: 10%;
  padding-top: 2%;
  img{
    width: 75%;
    height: 75%;
  }
}

.bottom-footer{
  font-family: $number-font;
  font-weight: 400;
  padding-top:25px;
  padding-bottom:25px;
  height:auto;
  color:$primary-color;
  padding-left: 5%;
  padding-right: 5%;
  border-top: 1px solid $accent-color;
  margin: 0 auto;
  max-width: 1600px;
  a:hover{
    text-decoration: none;
    color: $accent-color;
  }
  .content{
    max-width:1600px;
    margin: 0 auto;
    text-align: left;
    h5{
      font-weight: 600;
      color: $accent-color;
    }
    .footer-link:hover{
      h5{
        color: $accent-hover-color;
      }
    }
    p{
    }
    a{
      color: $primary-color;
    }
    a:hover{
      color: $accent-hover-color;
    }
    .footer-links{
      border-left: 1px solid $accent-color;
      border-right: 1px solid $accent-color;
    }
    .copyright{
      margin-top:10px;
    }
  }
  ul{
    padding:0px;
    list-style: none;
    border-radius: 0px;
    li {
      margin-top:10px;
    } 
  }
}

.social-icons{
  max-width: 216px;
  ul{
    margin-left:25px;
    list-style:none;
    width:100%;
    font-size:40px;
    li{
      display: inline-block;
      width: 60px;
      height: 60px;
      background-color: $accent-color;
      text-align: center;
      border-radius: 30px;
      a{
        color: #fff !important;  
      }
      a:hover{
        color: #fff !important;  
      }
    }
    li:hover{
      background-color: $accent-hover-color;
    }
  }
}

.footer{
  margin-top:45px;
}
.blog-footer{
  margin-top: 210px;
  z-index: 1;
}