#filter{
  input[type=radio] {  
    display: none;  
  }

  label {  
      display: inline-block;  
      cursor: pointer;  
      position: relative;
      padding-left: 10px;
  }  

  label.checked:before { 
      content: "";  
      display: inline-block;
      font-family: FontAwesome;
      content: "\f14a";
      color: $accent-color;
      font-size: 18px;
      position: absolute;
      top: -1px;
      left: -9px;
  }

  label:before {  
    content: "";  
    display: inline-block;
    font-family: FontAwesome;
    content: "\f096";
    color: $faded-color;
    font-size: 18px;
    position: absolute;
    top: -1px;
    left: -9px;
    
  }
}