#gift-sets{
  .gift-set-hero{
    position: relative;
    img{
      position: relative;
      top: 0;
      width: 100%;
    }
    h2{
      top: 0;
      position: absolute;
      color: #fff;
      width: 50%;
      text-align: center;
      font-weight: 500;
    }
    .left-copy{
      left: 8%;
    }
    .right-copy{
      left: 41%;
    }
  }
  #gift-set-list{
    text-align: center;
    width: 100%;
    list-style: none;
    padding: 0;
    margin: 0;
    .gift-set{
      text-align: center;
      padding: 0;
      margin: 25px 0;
      border-bottom: 1px solid $faded-color;
      .gift-set-products{
        padding: 0;
        margin: 0;
        list-style: none;
        li{
          padding: 0;
          margin: 5px 1%;
          display: inline-block;
          vertical-align: top;
          width: 14%;
          img{
            width: 100%;
          }
        }
        .giftset-title{
          text-align: left;
          width: 10%;
          h4{
            width: 150px;
            text-transform: uppercase;
            font-weight: 400;
            margin-top: 45%;
          }
        }
        .empty-box{
          margin: 5px 2%;
          img{
            width: 100%;
          }
        }
        .price-cta{
          text-align: center;
          .price{
            font-size: 30px;
            font-family: $fun-font; 
            margin-bottom: 25px;
            margin-top: 10px;
          }
          .cta{
            .btn{
              padding: 10px 25px;
            }
          }

        }
      }
    }
  }
}


// MEDIUM DESKTOPS
@media (max-width: 1200px) { 
  #gift-sets{
    .gift-set-hero{
      h2{
        font-size: 26px;
      }
    }
  }
} 

// TABLETS
@media (max-width: 992px) {
  #gift-sets{
    .gift-set-hero{
      img{
      }
      h2{
        font-size: 20px;
      }
      .left-copy{
      }
      .right-copy{
      }
    }
  }
} 

// SMALL PHONES
@media (max-width: 768px) {
  #gift-sets{
    .gift-set-hero{
      img{
        left: -22%;
        width: 305%;
      }
      h2{
        font-size: 28px;
      }
      .left-copy{
        display: none;
      }
      .right-copy{
        left: 50%;
        top: 50%;        
      }
    }
    #gift-set-list{
      .gift-set{
        border-bottom: none;
        .gift-set-products{
          li{
            width:45.5%;
            margin:0;
            border: 1px solid $faded-color;
            border-top: none;
          }
          li:nth-of-type(2),li:nth-of-type(4){
            margin-right: -2.5px;
            
          }
          li:nth-of-type(3),li:nth-of-type(5){
            margin-left: -2.5px
          }
          .giftset-title{
            width: 90.5%;
            padding: 22px 10px;
            border-top: 1px solid $faded-color;
            h4{
              margin-top: 0;
              float: left;
              font-size: 25px;
            }
            .price{
              font-family: $fun-font;
              float: right;
              font-size: 30px;
              margin-top: -8px;
            }
            
          }
          .gift-prod-img{
          }
          .empty-box{
            margin: 0;
          }
          .price-cta{
            width: 90.5%;
            border: none;
            .price{
              display: none;
            }
            .cta{
              .btn{
                width: 100%;
                padding: 17px 0;
              }
            }
          }
        }
      }
    }
  }
} 