.feature-panels{
  a {
    color: $primary-color;
  }
  border-bottom: 1px solid $faded-color;
}

.right-panel{
  border-left: 1px solid $faded-color;
}

.feature-panel {
  padding-top: 20px;
  padding-right: 75px;
  padding-left: 20px;
  margin-bottom: 50px;
  width:103%;
  margin-left:-1.5%;
  .icon {
    width:50%;
    position: relative;
    float:left;
    svg {
      width:100%;
    }
  }
  .text {
    width:40%;
    float:right;
    font-size:16px
  }
  .link {
    margin-top: 15px;
    margin-bottom: 20px;
    text-align:right;
    float:right;
    a {
      font-size:16px;
    }
  }
}

.featured-products{
  h2{
    color: $accent-color;
  }
  padding-left: 5% !important;
  padding-right: 5% !important;
  p{
    font-size:15px;
  }
}

.featured-collection-grid{
  ul{
    li{
      width:33%;
    }
  }
  p{
    float:right;
  }
}

@media screen and (max-width: 87.375em) {
  .featured-collection-grid > ul > li {
    width: 33%;
  }
}