.feature-panels{
  a {
    color: $primary-color;
  }
  border-bottom: 1px solid $faded-color;
}

.right-panel{
  border-left: 1px solid $faded-color;
}

.feature-panel {
  padding-top: 20px;
  padding-right: 75px;
  padding-left: 20px;
  margin-bottom: 50px;
  width:103%;
  margin-left:-1.5%;
  .icon {
    width:50%;
    position: relative;
    float:left;
    svg {
      width:100%;
    }
  }
  .text {
    width:40%;
    float:right;
    font-size:16px
  }
  .link {
    margin-top: 15px;
    margin-bottom: 20px;
    text-align:right;
    float:right;
    a {
      font-size:16px;
    }
  }
}

.featured-products{
  h2{
    color: $accent-color;
  }
  padding-left: 5% !important;
  padding-right: 5% !important;
  p{
    font-size:15px;
  }
}

.featured-collection-grid{
  ul{
    li{
      width:33%;
    }
  }
  p{
    float:right;
  }
}

.hero{
  opacity: 0.0;
  position: relative;
  -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  -ms-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  img{
    position: relative;
    top: 0;
  }
  .hero-text{
    position: absolute;
    top: 36%;
    left: 1.25%;
    width: 37%;
    h1{
      font-size: 25px;
      color: #fff;
      font-weight: 400;
    }
    h3{
      font-size: 20px;
      color: #fff;
      font-weight: 200;
      margin-top: -2px;
    }
    .btn{
      margin-top: 8%;
    }
  }
  .hero-right-panel{
    position: absolute;
    top: 2%;
    right: 1.25%;
    width: 32%;
    height: 90%;
    ul{
      margin-top:6%;
      padding: 0px;
      list-style: none;
      text-align: left;
      li{
        cursor: pointer;
        display: inline-block;
        width: 45%;
        height: 10%;
        overflow: hidden;
        background-color: #fff;
        margin-bottom: 17px;
        border: 2px solid $emphasis-color;
        border-right: 3px solid $emphasis-color;
        position: relative;
        img{
          width:100%;
        }
        .item-desc{
          opacity: 1.0;
          height: 100%;
          width: 100%;
          position: absolute;
          top: 83%;
          -webkit-transition: all 0.3s ease-in 0s;
          -moz-transition: all 0.3s ease-in 0s;
          -o-transition: all 0.3s ease-in 0s;
          transition: all 0.3s ease-in 0s;
          .overlay{
            background-color: #fff;
            width: 100%;
            height: 100%;
            opacity: 0.8;
            position: absolute;
            top: 0;
          }
          .item-detail{
            position: absolute;
            top: 8%;
            left: 4%;
            width: 100%;
            height: 100%;
            h4{
              font-weight: 400;
              margin: 0 auto;
              color:$primary-color;
              font-weight: 300;
              font-size: 12px;
              float: left;
              width: 66%;
              border-bottom: 1px solid $primary-color;
              padding-bottom: 3%;
            }
            .number{
              float: right;
              margin-right: 4%;
              background-color: $accent-color;
              color: #fff;
              margin-top: -8%;
              padding: 5% 7%;
              width: auto;
              border: none;
              
            }
            .qty-input{
              float: left;
              margin-top: 6%;
              width: 35%;
              input{
                width: 34px;
                height: 22px;
                border: 1px solid $primary-color;
                color: $primary-color;
                text-align: center;
                padding-top: 0px;
                padding-bottom: 3px;
              }
              input::-webkit-outer-spin-button,input::-webkit-inner-spin-button {
                /* display: none; <- Crashes Chrome on hover */
                -webkit-appearance: none;
              margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
              }
            }
            .add-btn{
              float:right;
              width: 65%;
              font-size: 10px;
              text-align: right;
              padding-right: 8%;
              padding-top: 3%;
              color: $primary-color;
              .add-plus-btn{
                background-color: $accent-color;
                color: #fff;
                font-size: 20px;
                border-radius: 14px;
                letter-spacing: 2px;
              }
            }
          }
        }
        .img-wrapper{
        }
      }
      li:hover{
        .item-desc{
          top: 55%;
        }
      }
      .right-grid{
        margin-left:8.7%;
      }
    }
    .sub-callout{
      height: 21%;
      width: 100%;
      border: 2px solid #fff;
      padding-left: 10px;
      padding-right: 10px;
      margin-top: -10px;
      h1{
        font-size: 25px;
        color: #fff;
        font-weight: 400;
        margin-top: 11px;
        border-bottom: 1px solid #fff;
        padding-bottom: 7px;
        width: 249px;
      }
      .sub-desc{
        font-size:16px;
        font-weight: 200;
        border: none;
        margin: 0;
        padding: 0;
        width: 275px;
      }
      .btn{
        border: 4px solid #fff;
        float: right;
        margin-top: -37px;
      }
      a.btn{
        color: #fff;
      }
      .btn:hover{
        border-color: $emphasis-color;
        background-color: $emphasis-color;
      }
    }
  }
}

.hero-reveal{
  opacity: 1.0;
  margin-top: -400px;
}

.index-loader{
  width: 100%;
  height: 400px;
  text-align: center;
  img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
    width: 35px;
  }
}

/*** MEDIA QUERIES ***/

/* Medium monitors */
@media (max-width: 1230px) {
  .hero{
    img{      
    }
    .hero-text{
      width: 30%;
      top: 26%;
      h1{
      }
      h3{
        font-size: 16px;
        margin-top: 1px;
      }
      .btn{
      }
    }
    .hero-right-panel{
      ul{
        li{
          .item-desc{
            top: 65%;
            .item-detail{
              h4{
                height:0;
                padding-bottom: 27%;
              }
              .number{
                padding: 0% 7%;
                padding-top: 13%;
                padding-bottom: 22%;
              }
            }
          }
        }
        li:hover{
          .item-desc{
            top: 30%;
          }
        }
        .right-grid{
        }
      }
      .sub-callout{
        padding-left: 5px;
        padding-right: 5px;
        
        h1{
          margin-top: 4%;
          font-size: 20px;
          padding-bottom: 4px;
          width: 67%;
        }
        .sub-desc{
          font-size: 14px;
          margin-top:-4px;
          width: 70%;
        }
      }
      .btn{
        width: 27%;
        height: 66%;
        margin-top: -17% !important;
        white-space: normal !important;
      }
      a.btn{
      }
      .btn:hover{
      }
    }
  }

}




/* Medium devices (tablets) */
@media (max-width: 991px) {
  .hero{
    top: 21%;
    img{
      
    }
    .hero-text{
      width: 30%;
      top: 26%;
      h1{
      }
      h3{
        font-size: 16px;
        margin-top: 1px;
      }
      .btn{
      }
    }
    .hero-right-panel{
      top: -2%;
      right: -2%;
      ul{
        li{
          width: 38%;
          height: 10%;
          margin-bottom: 7px;
        }
        .right-grid{
          margin-left: 9%;
        }
      }
      .sub-callout{
        width: 86%;
        padding-left: 5px;
        padding-right: 5px;
        height: 25%;
        h1{
          font-size: 16px;
          width: 160px;
          margin-top: 5px;
          padding-bottom: 6px;
        }
        .sub-desc{
          font-size: 13px;
          width: 191px;
          margin-top: -5px;
          line-height: 17px;
        }
      }
      .btn{
        border: 4px solid #fff;
        float: left;
        margin-top: -2px !important;
        width: 86%;
        height: 40px !important;
      }
      a.btn{
        color: #fff;
      }
      .btn:hover{
        border-color: $emphasis-color;
        background-color: $emphasis-color;
      }
    }
  }

}

/* Small devices (large mobile) */

@media (max-width: 767px) { 
  .hero{
    margin: 0 auto;
    width: 145%;
    img{
      
    }
    .hero-text{
      top:26%;
      left:1%;
      width: 29%;
      h1{
        font-size: 20px;
      }
      h3{
        font-size: 18px;
        margin-bottom: 7px;
        margin-top: 16px;
      }
      .btn{
        font-size: 15px;
        padding: 9px 7px;
      }
    }
  }

}
/* Medium sized mobile */
@media (max-width: 560px) { 
  .hero{
    width:158%;
    text-align: center;
    margin: 0 auto;
    img{
      
    }
    .hero-text{
      text-align: left;
      top: 13%;
      left: 1%;
      width: 22%;
      h1{
        font-size: 20px;
        margin-bottom: 12px;
      }
      h3{
        font-size: 16px;
      }
      .btn{
        font-size: 15px;
        padding: 9px 7px;
      }
    }
  }

}

/* Small Mobile Iphones*/
@media (max-width: 399px) { 
  .hero{
    img{
      
    }
    .hero-text{
      top: 1%;
      h1{
      }
      h3{
      }
      .btn{
      }
    }
  }

}




/**/
.shipping-modal{
  margin: 0 auto;
  text-align: center;
  img{
  }
  .modal-content{
    width: 50%;
    margin: 0 auto;
    height: 500px;
    padding: 0 30px;
    border: 1px $faded-color solid;
    .ship-icon{
      margin-top: -90px;
      height: 311px;
      svg{
        
      }
    }
    .svg-close-icon{
      margin-top: -37px;
      margin-right: -145px;
      position: absolute;
      right: 0px;
      svg{
        width: 16%;
        cursor: pointer;  
      }
    }
    .break{
      width: 100%;
      border-bottom: 1px solid $faded-color;
    }
    .copy{
      text-align: left;
      h4{
        color: $accent-color;
      }
      .domestic{
        margin-top: 30px;
        width: 85%;
      }
      .international{
        margin-top: 30px;
        width: 85%;
      }
    }
  }
}

/* Small devices (tablets, 768px and up) */

@media (max-width: 962px) { 
  .shipping-modal{
    .modal-content{
      width: 75%;
    }
  }
}


@media (max-width: 768px) { 
  .shipping-modal{
    .modal-content{
      width: 75%;
    }
  }
}

@media (max-width: 560px) { 
.shipping-modal{
    .modal-content{
      width: 100%;
    }
  }

}



@media screen and (max-width: 87.375em) {
  .featured-collection-grid > ul > li {
    width: 33%;
  }
}

@media screen and (max-width: 767px) {
  .linked-panel{
    height:180px !important;
  }
  .feature-panel{
    padding: 0;
    margin: 0;
    .text{
      margin-top: 40px;      
      h3{
        font-size: 18px;
      }
    }
    .sub-text{
      width: 50%;
    }
    .icon{
      margin-top: -20px;
    }
  }
  .featured-heading{
    font-size: 14px;
    margin-bottom: -19px;
  }
  .featured-collection-grid{
    p{
      a{
        margin-top: -24px;
        font-size: 14px;
      }
    }
  }
}


@media screen and (max-width: 400px) {
  .linked-panel{
    height: 102px !important;
  }
  .feature-panel{
    .icon{
      margin-top: -58px;
      margin-left: -8px;
    }
    .text{
      margin-top: 26px;
      h3{
        font-size: 14px
      }
    }
  }
}