.feature-panels{
  a {
    color: $primary-color;
  }
  border-bottom: 1px solid $faded-color;
}

.right-panel{
  border-left: 1px solid $faded-color;
}

.feature-panel {
  padding-top: 20px;
  padding-right: 75px;
  padding-left: 20px;
  margin-bottom: 50px;
  width:103%;
  margin-left:-1.5%;
  .icon {
    width:50%;
    position: relative;
    float:left;
    svg {
      width:100%;
    }
  }
  .text {
    width:40%;
    float:right;
    font-size:16px
  }
  .link {
    margin-top: 15px;
    margin-bottom: 20px;
    text-align:right;
    float:right;
    a {
      font-size:16px;
    }
  }
}

.featured-products{
  h2{
    color: $accent-color;
  }
  padding-left: 5% !important;
  padding-right: 5% !important;
  p{
    font-size:15px;
  }
}

.featured-collection-grid{
  ul{
    li{
      width:33%;
    }
  }
  p{
    float:right;
  }
}

.hero{
  opacity: 0.0;
  position: relative;
  -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  -ms-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
  img{
    position: relative;
    top: 0;
  }
  .hero-text{
    position: absolute;
    top: 10%;
    left: 5%;
    width: 37%;
    h1{
      font-size: 40px;
      color: #fff;
      font-weight: 400;
    }
    .btn{
      margin-top: 3%;
    }
  }
}

.hero-reveal{
  opacity: 1.0;
  margin-top: -400px;
}

.index-loader{
  width: 100%;
  height: 400px;
  text-align: center;
  img{
    margin-left: auto;
    margin-right: auto;
    margin-top: 125px;
    width: 35px;
  }
}

/*** MEDIA QUERIES ***/


/* Medium devices (desktops, 992px and up) */
@media (max-width: 992px) {
  .hero{
    img{
      
    }
    .hero-text{
      h1{
        font-size: 30px;
      }
      .btn{
        font-size: 16px;
      }
    }
  }

}

/* Small devices (tablets, 768px and up) */

@media (max-width: 768px) { 
  .hero{
    margin: 0 auto;
    img{
      
    }
    .hero-text{
      top:8%;
      left:3%;
      h1{
        font-size: 20px;
      }
      .btn{
        font-size: 15px;
        padding: 9px 7px;
      }
    }
  }

}

@media (max-width: 560px) { 
  .hero{
    width:158%;
    text-align: center;
    margin: 0 auto;
    img{
      
    }
    .hero-text{
      text-align: left;
      top: 1%;
      left: 1%;
      h1{
        font-size: 20px;
      }
      .btn{
        font-size: 15px;
        padding: 9px 7px;
      }
    }
  }

}

.shipping-modal{
  margin: 0 auto;
  text-align: center;
  img{
  }
  .modal-content{
    width: 50%;
    margin: 0 auto;
    height: 500px;
    padding: 0 30px;
    border: 1px $faded-color solid;
    .ship-icon{
      margin-top: -90px;
      height: 311px;
      svg{
        
      }
    }
    .svg-close-icon{
      margin-top: -37px;
      margin-right: -145px;
      position: absolute;
      right: 0px;
      svg{
        width: 16%;
        cursor: pointer;  
      }
    }
    .break{
      width: 100%;
      border-bottom: 1px solid $faded-color;
    }
    .copy{
      text-align: left;
      h4{
        color: $accent-color;
      }
      .domestic{
        margin-top: 30px;
        width: 85%;
      }
      .international{
        margin-top: 30px;
        width: 85%;
      }
    }
  }
}

/* Small devices (tablets, 768px and up) */

@media (max-width: 962px) { 
  .shipping-modal{
    .modal-content{
      width: 75%;
    }
  }
}


@media (max-width: 768px) { 
  .shipping-modal{
    .modal-content{
      width: 75%;
    }
  }
}

@media (max-width: 560px) { 
.shipping-modal{
    .modal-content{
      width: 100%;
    }
  }

}



@media screen and (max-width: 87.375em) {
  .featured-collection-grid > ul > li {
    width: 33%;
  }
}

@media screen and (max-width: 767px) {
  .linked-panel{
    height:180px !important;
  }
  .feature-panel{
    padding: 0;
    margin: 0;
    .text{
      margin-top: 40px;      
      h3{
        font-size: 18px;
      }
    }
    .sub-text{
      width: 50%;
    }
    .icon{
      margin-top: -20px;
    }
  }
  .featured-heading{
    font-size: 14px;
    margin-bottom: -19px;
  }
  .featured-collection-grid{
    p{
      a{
        margin-top: -24px;
        font-size: 14px;
      }
    }
  }
}


@media screen and (max-width: 400px) {
  .linked-panel{
    height: 102px !important;
  }
  .feature-panel{
    .icon{
      margin-top: -58px;
      margin-left: -8px;
    }
    .text{
      margin-top: 26px;
      h3{
        font-size: 14px
      }
    }
  }
}