.header-section{
  max-width:1600px;
  z-index:3;
}
.header {
  font-size: 12px;
  z-index:3;
  height:25px;
  margin-top: 5px;
  margin-bottom:-10px;
  overflow:hidden;
  .cart-icon{
    fill: $accent-color;
  }
  .cart-count{
    font-size:14px;
  }
  .free-shipping {
    font-style: italic;
  }
  div {
    float:right;
    text-align:right;
    padding-left:25px;
  }
  ul{
    padding:0px;
    list-style: none;
    border-radius: 0px;
    text-align:right;
    padding-right: 7px;
    li {
      display: inline-block;
      a {
        cursor: pointer;
      }
    } 
    li + li:before {
      content: "|\00a0";
      padding: 0 2px;
      color: #cccccc;
    }
  }
}

.navbar-default{
  box-shadow: none !important;
}

.navbar{
  position:relative;
  margin-top: 0px;
  margin-bottom: 0px !important;
  border: none;
  z-index:3;
  
  .navbar-brand {
    padding-top: 0px;
    img{
      width: 200px;
      height: 50px;
    }
  }
  
  a {
    color: $primary-color;
  }
  
  a:hover{
    color: $accent-color;
    background-color: transparent !important; 
  }
  
  .form-group {
    width: 115%;
    margin-left: -15%;
    margin-top: 10px;
    input {
      float: left;
      width: 86%;
      height:25px;
      border-right: none;
      box-shadow: none;
    }
    .search-icon{
      float: right;
      height: 25px;
      border-left: none;
      border-right: 1px solid $faded-color;
      border-bottom: 1px solid $faded-color;
      border-top: 1px solid $faded-color;
      padding-top: 3px;
      padding-right: 7px;
      color: $faded-color;
      box-shadow: none;
      margin-right: 1px;
      margin-left: -23px;
    }
    input[type=text] {
      color: $primary-color;
    }
    ::-webkit-input-placeholder {
      color: $faded-color;
    }
    :-moz-placeholder { 
      color: $faded-color;  
    }
    ::-moz-placeholder { 
      color: $faded-color;  
    }
    :-ms-input-placeholder {  
      color: $faded-color;  
    }
  }
}

@media (max-width: 768px) {
  .zopim{
    display: none;
  }
  .navbar{
    border-bottom: 1px solid $faded-color;
    width: 100%;
  }
  .navbar-toggle-menu{
    position: absolute;
    left: 0;
    }
  .navbar-brand{
    img{
      margin-top: 12px;
      width: 135px !important;
      height: 34px !important;
    }
  }
  .cart-toggle{
    position: absolute;
    right: 0;
    margin-right: 0px;
    svg{
      path{
        fill: $faded-color;
      }
      circle{
        fill: $faded-color;
      }
    }
  }
}

@media (min-width: 768px) {
  .navbar{
    margin-bottom: 12px !important;
  }
  .navbar-form.navbar-right:last-child {
    margin-right: -23px;
  }
}

@media (max-width: 829px) {
  .navbar{
    .navbar-right{
      display:none;
    }
    .navbar-form{
      padding: 10px 0px;
    }
    .form-group {
      width: 95%;
      margin-left: 0; 
    }
  }
}

