/* To bar notifications */
.ns-box.ns-bar {
  top: 24px;
  left: 0;
  width: 100%;
}

.ns-bar .ns-close {
  background: transparent;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.ns-bar .ns-close::before,
.ns-bar .ns-close::after {
  background: #fff;
}

[class^="ns-effect-"].ns-bar.ns-hide,
[class*=" ns-effect-"].ns-bar.ns-hide {
  -webkit-animation-direction: reverse;
  animation-direction: reverse;
}

/* Individual Effects */

/* Slide on top */
.ns-effect-slidetop {
  // box-shadow: inset 4.5em 0 rgba(0,0,0,0.6);
}

.ns-effect-slidetop .icon {
  position: absolute;
  display: block;
  font-size: 109%;
  top: 50%;
  left: 1em;
  -webkit-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);
}

.ns-effect-slidetop p {
  padding: 0 3.2em;
  font-size: 1.2em;
  display: inline-block;
}

.ns-effect-slidetop .ns-close::before,
.ns-effect-slidetop .ns-close::after {
  width: 2px;
  background: #fff;
}

.ns-effect-slidetop .ns-close:hover::before,
.ns-effect-slidetop .ns-close:hover::after {
  background: #fff;
}

.ns-effect-slidetop.ns-show .icon,
.ns-effect-slidetop.ns-show p {
  -webkit-animation-name: animScaleUp;
  animation-name: animScaleUp;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.ns-effect-slidetop.ns-show p {
  -webkit-animation-name: animFade;
  animation-name: animFade;
}

@-webkit-keyframes animScaleUp {
  0% {opacity: 0; -webkit-transform: translate3d(0,-50%,0) scale3d(0,0,1); };
  100% { opacity: 1; -webkit-transform: translate3d(0,-50%,0) scale3d(1,1,1); };
}

@keyframes animScaleUp {
  0% { opacity: 0; -webkit-transform: translate3d(0,-50%,0) scale3d(0,0,1); transform: translate3d(0,-50%,0) scale3d(0,0,1); }
  100% { opacity: 1; -webkit-transform: translate3d(0,-50%,0) scale3d(1,1,1); transform: translate3d(0,-50%,0) scale3d(1,1,1); }
}

.ns-effect-slidetop.ns-show {
  -webkit-animation-name: animSlideTop;
  animation-name: animSlideTop;
  -webkit-animation-duration: 1.0s;
  animation-duration: 1.0s;
}
.ns-effect-slidetop.ns-hide{
  -webkit-animation-name: animSlideTop;
  animation-name: animSlideTop;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}

@-webkit-keyframes animSlideTop {
  0% { -webkit-transform: translate3d(0,-100%,0); }
  100% { -webkit-transform: translate3d(0,0,0); }
}

@keyframes animSlideTop {
  0% { -webkit-transform: translate3d(0,-100%,0); transform: translate3d(0,-100%,0); }
  100% { -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}

/* Expanding Loader */
.ns-effect-exploader {
  background: #fff;
  color: #7a7264;
  -webkit-transform-origin: 0 0;
  transform-origin: 0 0;
}

.ns-effect-exploader .icon {
  position: absolute;
  left: 0.25em;
  top: 50%;
  -webkit-transform: translate3d(0,-50%,0);
  transform: translate3d(0,-50%,0);
}

.ns-effect-exploader .ns-box-inner {
  position: relative;
}

.ns-effect-exploader p {
  padding: 0.25em 2em 0.25em 3em;
}

.ns-effect-exploader .ns-close:hover::before,
.ns-effect-exploader .ns-close:hover::after {
  background: #98815a;
}

.ns-effect-exploader.ns-show {
  -webkit-animation-name: animLoad;
  animation-name: animLoad;
  -webkit-animation-duration: 2.5s;
  animation-duration: 2.5s;
}

@-webkit-keyframes animLoad {
  0% { opacity: 1; -webkit-transform: scale3d(0,0.3,1); }
  33% { opacity: 1; -webkit-transform: scale3d(0.5,0.3,1); }
  50% { opacity: 1; -webkit-transform: scale3d(0.6,0.3,1); }
  80%, 85% { opacity: 1; -webkit-transform: scale3d(1,0.3,1); -webkit-animation-timing-function: cubic-bezier(0.7,0,0.3,1); }
  100% { opacity: 1; -webkit-transform: scale3d(1,1,1); }
}

@keyframes animLoad {
  0% { opacity: 1; -webkit-transform: scale3d(0,0.3,1); transform: scale3d(0,0.3,1); }
  33% { opacity: 1; -webkit-transform: scale3d(0.5,0.3,1); transform: scale3d(0.5,0.3,1); }
  50% { opacity: 1; -webkit-transform: scale3d(0.6,0.3,1); transform: scale3d(0.6,0.3,1); }
  80%, 85% { opacity: 1; -webkit-transform: scale3d(1,0.3,1); transform: scale3d(1,0.3,1); -webkit-animation-timing-function: cubic-bezier(0.7,0,0.3,1); animation-timing-function: cubic-bezier(0.7,0,0.3,1); }
  100% { opacity: 1; -webkit-transform: scale3d(1,1,1); transform: scale3d(1,1,1); }
}

.ns-effect-exploader.ns-hide {
  -webkit-animation-name: animFade;
  animation-name: animFade;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}

.ns-effect-exploader.ns-show .ns-box-inner,
.ns-effect-exploader.ns-show .ns-close {
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
  -webkit-animation-delay: 2.4s;
  animation-delay: 2.4s;
}

.ns-effect-exploader.ns-show .ns-close {
  -webkit-animation-name: animFade;
  animation-name: animFade; 
}

.ns-effect-exploader.ns-show .ns-box-inner {
  -webkit-animation-name: animFadeMove;
  animation-name: animFadeMove;
  -webkit-animation-timing-function: ease-out; 
  animation-timing-function: ease-out;
}

@-webkit-keyframes animFadeMove {
  0% { opacity: 0; -webkit-transform: translate3d(0,10px,0); }
  100% { opacity: 1; -webkit-transform: translate3d(0,0,0); }
}

@keyframes animFadeMove {
  0% { opacity: 0; -webkit-transform: translate3d(0,10px,0); transform: translate3d(0,10px,0); }
  100% { opacity: 1; -webkit-transform: translate3d(0,0,0); transform: translate3d(0,0,0); }
}

@-webkit-keyframes animFade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

@keyframes animFade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

.normal-body{
  -webkit-transition: all .5s ease-in-out;
  -moz-transition: all .5s ease-in-out;
  -o-transition: all .5s ease-in-out;
  transition: all .5s ease-in-out;
}


.normal-body.show{
  margin-top: 50px;
  -webkit-transition: all 1.0s ease-in-out;
  -moz-transition: all 1.0s ease-in-out;
  -o-transition: all 1.0s ease-in-out;
  transition: all 1.0s ease-in-out;
}

// CUSTOM CSS

.ns-bg{
  z-index: -5;
}
.ns-box-inner{
  .num{
    font-family: $fun-font;
  }
  .left-section,.right-section{
    margin-bottom: 15px;
    p{
      font-size: 13px;
    }
    strong{
      font-size: 18px;
      font-weight: 600;
    }
  }
  .left-section{
    float: left;
    text-align: left;
    margin-left: 35px;
  }
  .right-section{
    float: right;
    text-align: right;
    margin-right: 35px;
  }
  .offer-details{
      margin-top: 10px;
      font-size: 10px;
      a{
        font-size: 14px;
      }
      .expiration{
        width: 100%;
      }
  }
  a:hover{
    color: #f3a395;
    text-decoration: none;
  }
}

.ns-effect-slidetop .ns-close:hover::before,
.ns-effect-slidetop .ns-close:hover::after {
  background: #f3a395;
}


// MEDIUM DESKTOPS
@media (max-width: 1200px) { 
  .ns-box{
    padding-left: 0;
    padding-right: 0;
  }
  .left-section, .right-section{
    p{
      padding-left: 26px;
      padding-right: 26px;
      font-size: 12px;
    }
    strong{
      font-size: 16px;
    }
  }
  .ns-box-inner{
    .left-section{
      margin-left: 10px;
    }
    .right-section{
      margin-right: 10px;
    }
  }

} 

// TABLETS
@media (max-width: 992px) {
  .ns-box-inner{
    .left-section,.right-section{
      text-align: center;
      width: 100%;
      p{
        font-size: 12px;
        text-align: left;
        margin: 0 auto;
      }
      strong{
        font-size: 16px;
      }
    }
    .left-section{
      margin-left: 0;
    }
    .right-section{
      margin-right: 0px;
    }
    .offer-details{
    }
  }
} 

// SMALL PHONES
@media (max-width: 768px) {


  
} 

// IPHONE
@media (max-width: 450px) {
} 


