.breadcrumb{
  position: absolute;
  text-align: left;
  background-color: #fff !important;
  font-size:10px;
  text-transform: uppercase;
  a {
    color: $primary-color;
  }
  a:hover{
    color:$accent-color;
    text-decoration: none;
  }
}
.product-space{
  width: 100%;
  margin-bottom: 30px;
}

.recommendations{
  max-width:1600px;
  text-align: left;
  margin-bottom:300px;
  padding: 0px 25px;
  h5{
    font-size:19px;
    color: $accent-color;
  }
  p{
    font-size:15px;
  }
}

.product-social{
  width: 100%;
  margin-bottom: 30px;
}