.product-quickview{
  max-width: 1600px;  
  .product-image{
    margin-bottom:25px;
    width:85%;
    img{
      max-width:100%;
    }
  }
  .info {
    width:115%;
    margin-left:-30%;
    height: 381px;
    border: 1px solid $faded-color;
    padding:10px;
    font-size:11px;
    h2 {
      color: $accent-color;
      text-transform: uppercase;
    }
    h4 {
      font-weight: lighter;
    }
    h3 {
      color: $accent-color;
      font-weight: lighter;
    }
    .qty{
      margin: 10px 0px;
    }
    #quantity{
      width:35px;
      border: 1px solid $faded-color;

    }
    .add-to-cart{
      margin: 20px 0px;
    }
    .description{
      text-align: left;
      padding: 0px 0px;
      ul{
        li{
          display:list-item;
          list-style-type: disc;
          padding:0;
          width:75%;
          text-align: left;
        }
      }
    }
  }
}

@media (min-width: 992px) {
  .product-quickview{
    .info{
      height:480px;
      font-size:14px;
    }
  }
}
