
p aside {
  font-size: 0.875rem;
  line-height: 1.35;
  font-style: italic; 
}

.off-canvas-wrap {
  -webkit-backface-visibility: hidden;
  // position: relative;
  width: 100%;
  overflow: hidden;
}
.off-canvas-wrap.move-right, .off-canvas-wrap.move-left {
  min-height: 100%;
  -webkit-overflow-scrolling: touch; 
}

.inner-wrap {
  -webkit-backface-visibility: hidden;
  // position: relative;
  width: 100%;
  *zoom: 1;
  -webkit-transition: -webkit-transform 500ms ease;
  -moz-transition: -moz-transform 500ms ease;
  -ms-transition: -ms-transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  transition: transform 500ms ease; 
}
.network_hat{
  -webkit-transition: -webkit-transform 500ms ease;
  -moz-transition: -moz-transform 500ms ease;
  -ms-transition: -ms-transform 500ms ease;
  -o-transition: -o-transform 500ms ease;
  transition: transform 500ms ease; 
}
.inner-wrap:before, .inner-wrap:after {
  content: " ";
  display: table; 
}
.inner-wrap:after {
  clear: both; 
}

.right-off-canvas-menu {
  overflow:hidden;
  -webkit-backface-visibility: hidden;
  width: 48.10rem;
  top: 0;
  bottom: 0;
  position: absolute;
  overflow-y: auto;
  background: white;
  z-index: 1001;
  box-sizing: content-box;
  -webkit-overflow-scrolling: touch;
  -ms-transform: translate(100%, 0);
  -webkit-transform: translate3d(100%, 0, 0);
  -moz-transform: translate3d(100%, 0, 0);
  -ms-transform: translate3d(100%, 0, 0);
  -o-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  right: 0;
}

.right-off-canvas-menu * {
  -webkit-backface-visibility: hidden; 
}

ul.off-canvas-list {
  background: white;
  list-style-type: none;
  padding: 0;
  margin: 0; 
}
ul.off-canvas-list li label {
  padding: 0.3rem 0.9375rem;
  color: #999999;
  text-transform: uppercase;
  font-weight: bold;
  background: #444444;
  border-top: 1px solid #5e5e5e;
  border-bottom: none;
  margin: 0; 
}
ul.off-canvas-list li a {
  display: block;
  padding: 0.66667rem;
  color: rgba(255, 255, 255, 0.7);
  border-bottom: 1px solid #262626;
  transition: background 300ms ease; 
}
ul.off-canvas-list li a:hover {
  background: #242424; 
}

.move-left > .inner-wrap {
  -ms-transform: translate(-48.10rem, 0);
  -webkit-transform: translate3d(-48.10rem, 0, 0);
  -moz-transform: translate3d(-48.10rem, 0, 0);
  -ms-transform: translate3d(-48.10rem, 0, 0);
  -o-transform: translate3d(-48.10rem, 0, 0);
  transform: translate3d(-48.10rem, 0, 0); 
}
.move-left > .network_hat {
  -ms-transform: translate(-48.10rem, 0);
  -webkit-transform: translate3d(-48.10rem, 0, 0);
  -moz-transform: translate3d(-48.10rem, 0, 0);
  -ms-transform: translate3d(-48.10rem, 0, 0);
  -o-transform: translate3d(-48.10rem, 0, 0);
  transform: translate3d(-48.10rem, 0, 0); 
}
.move-left .exit-off-canvas {
  -webkit-backface-visibility: hidden;
  transition: background 300ms ease;
  cursor: pointer;
  border-right: 1px solid $faded-color;
  display: block;
  position: absolute;
  background: rgba(255, 255, 255, 0.2);
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 1002;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0); 
}
@media only screen and (min-width: 40.063em) {
  .move-left .exit-off-canvas:hover {
  background: rgba(255, 255, 255, 0.05); } 
}

.no-csstransforms .left-off-canvas-menu {
  left: -15.625rem; 
}
.no-csstransforms .right-off-canvas-menu {
  right: -15.625rem; 
}
.no-csstransforms .move-left > .inner-wrap {
  right: 15.625rem; 
}
.no-csstransforms .move-right > .inner-wrap {
  left: 15.625rem; 
}
                                  
@media screen and (max-width: 530px) {
  .move-left > .inner-wrap {
    -ms-transform: translate( -90%, 0);
    -webkit-transform: translate3d( -90%, 0, 0);
    -moz-transform: translate3d( -90%, 0, 0);
    -ms-transform: translate3d( -90%, 0, 0);
    -o-transform: translate3d( -90%, 0, 0);
    transform: translate3d( -90%, 0, 0); 
  }
  .right-off-canvas-menu {
    width: 90%;
  }
}

