#subscription{
  .top-hero{
    img{
      width: 100%;
    }
  }
  .arrows{
    font-size: 30px;
  }
  a.arrows{
    color: $faded-color;
  }
  a.arrows:hover{
    color: $accent-color;
  }
  .featured-sub-products{
    list-style: none;
    width: 100%;
    text-align: center;
    padding: 0;
    border-bottom: 1px solid $faded-color;
    li{
      display: inline-block;
      margin: 0 30px;
      max-width: 250px;
      width: 20%;
      img{
        width: 100%;
      }
    }
    .group1{
      
    }
    .group2{
      display: none;
    }
  }
  .mid-copy{
    text-align: center;
    margin: 10px 0 25px;
    h2{
      margin: 0 auto;
      font-weight: 400;
    }
  }
  .sub-plans{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    .single-plan{
      display: inline-block;
      margin: 0 2%;
      padding: 0;
      width: 20%;
      min-height: 470px;
      background: #f7f7f7;
      text-align: center;
      cursor: pointer;
      transition: background-color 300ms ease-out;
      vertical-align: top;
      .price-heading{
        transition: background-color 300ms ease-out;
        color: #fff;
        font-family: $fun-font;
        background: #d7d7d7;
        margin: 0 0 20px;
        padding: 15px 0;
        font-weight: 400;
        vertical-align: top;
      }
      h3{
        font-size: 17px;
        margin: 0px auto;
        font-weight: 400;
      }
      h4{
        border-top: 1px solid $primary-color;
        font-size: 17px;
        font-weight: 400;
        width: 75%;
        margin: 0 auto;
        padding: 9px 0 0;
        transition: border-top-color 300ms ease-out;
      }
      p{
        font-size: 14px;
        width: 80%;
        margin: 15px auto;
      }
      .cancel{
        font-style: italic;
      }
      svg{
        path,polygon{
          fill: $primary-color;
          transition: fill 300ms ease-out;
        }
      }
      .icon-sock{
        -ms-transform:rotate(-23deg); /* IE 9 */
        -webkit-transform:rotate(-23deg); /* Chrome, Safari, Opera */
        transform:rotate(-23deg); /* Standard syntax */
        width: 60px;
      }
      .icon-boxers-heart{
        width: 29%;
      }
      .icon-surprise{
        width: 29%;
      }
      .icon-bowtie{
        margin-left: -17px;
        margin-right: -17px;
      }
      ul{
        margin: 0 auto;
        list-style-type: disc;
        text-align: left;
        width: 75%;
      }
    }
    li:hover, li.active{
      background: #f1faf7;
      .price-heading{
        background: $accent-color;
      }
      h4{
        border-top-color: $emphasis-color;
      }
      svg{
        path,polygon{
          fill: $emphasis-color;
        }
      }
    }
    .socks-only{

    }
  }
  .final-button{
    margin-top: 25px;
    text-align: center;
    .btn{
      color: $emphasis-color;
      background-color: #fff;
      border: 1px solid $emphasis-color;
      transition: all 300ms ease-out;
    }
    .btn.active{
      color: #fff;
      background-color: $emphasis-color;
    }
  }
}





// MEDIUM DESKTOPS
@media (max-width: 1200px) {
  #subscription{
    .sub-plans{
      li{
        margin: 0 10px;
        width: 22%;
      }
    }
  }
} 

// TABLETS
@media (max-width: 992px) { 
  #subscription{
    .sub-plans{
      li{
        margin: 0 7px;
        width: 22%;
      }
    }
  }
} 

// SMALL PHONES
@media (max-width: 768px) {
  #subscription{
    .sub-plans{
      li{
        margin: 0 0 15px;
        width: 100%;
      }
    }
  }
} 

// IPHONE
@media (max-width: 450px) {
} 