#subscription{
  .top-hero{
    img{
      width: 100%;
    }
  }
  .mid-copy{
    text-align: center;
    margin: 10px 0 25px;
    h2{
      margin: 0 auto;
      font-weight: 400;
    }
  }
  .sub-plans{
    list-style: none;
    margin: 0;
    padding: 0;
    text-align: center;
    .single-plan{
      display: inline-block;
      margin: 0 2%;
      padding: 0;
      width: 20%;
      min-height: 470px;
      background: #f7f7f7;
      text-align: center;
      cursor: pointer;
      transition: background-color 300ms ease-out;
      vertical-align: top;
      .price-heading{
        transition: background-color 300ms ease-out;
        color: #fff;
        font-family: $fun-font;
        background: #d7d7d7;
        margin: 0 0 20px;
        padding: 15px 0;
        font-weight: 400;
        vertical-align: top;
      }
      h3{
        font-size: 17px;
        margin: 0px auto;
        font-weight: 400;
      }
      h4{
        border-top: 1px solid $primary-color;
        font-size: 17px;
        font-weight: 400;
        width: 75%;
        margin: 0 auto;
        padding: 9px 0 0;
        transition: border-top-color 300ms ease-out;
      }
      p{
        font-size: 14px;
        width: 80%;
        margin: 15px auto;
      }
      .cancel{
        font-style: italic;
      }
      .icon-sock{
        -ms-transform:rotate(-23deg); /* IE 9 */
        -webkit-transform:rotate(-23deg); /* Chrome, Safari, Opera */
        transform:rotate(-23deg); /* Standard syntax */
        width: 60px;
        path{
          fill: $primary-color;
          transition: fill 300ms ease-out;
        }
      }
      ul{
        margin: 0 auto;
        list-style-type: disc;
        text-align: left;
        width: 75%;
      }
    }
    li:hover{
      background: #f1faf7;
      .price-heading{
        background: $accent-color;
      }
      h4{
        border-top-color: $emphasis-color;
      }
      .icon-sock{
        path{
          fill: $emphasis-color;
        }
      }
    }
    .socks-only{

    }
  }
}





// MEDIUM DESKTOPS
@media (max-width: 1200px) {
  #subscription{
    .sub-plans{
      li{
        margin: 0 10px;
        width: 22%;
      }
    }
  }
} 

// TABLETS
@media (max-width: 992px) { 
  #subscription{
    .sub-plans{
      li{
        margin: 0 7px;
        width: 22%;
      }
    }
  }
} 

// SMALL PHONES
@media (max-width: 768px) {
  #subscription{
    .sub-plans{
      li{
        margin: 0 0 15px;
        width: 100%;
      }
    }
  }
} 

// IPHONE
@media (max-width: 450px) {
} 