.subscription{
  text-align: center;
  .copy{
    font-size: 25px;
    color: $faded-color;
    margin: 30px 0;
  }
  .sub-form{
    .step{
      text-align: left;
      float: left;
      position: absolute;
      font-size: 22px;
      color: white;
      margin-left: 5px;
    }
    .status{
      text-align: right;
      right: 24px;
      margin-top: -35px;
      float: right;
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 40px;
      background-color: white;
      color: $accent-color;
      font-size: 40px;
      line-height: 1px;
    }
    h4{
      font-size: 28px;
      color: white;
      font-weight: 100;
      letter-spacing: 1px;
    }
    .heading{
      background-color: $accent-color;
      border: none;
      padding: 10px 0;
      a:hover{
        text-decoration: none;
      }
    }

      .btn{
        font-size: 20px;
        padding: 10px 40px;
        margin: 0 25px;
        background-color: white;
        border: 1px solid $faded-color;
        color: $accent-color;
        a:hover{
          color: $accent-color;
          text-decoration: none;
        }
      }
      .btn.active{
        background-color: $emphasis-color;
        color: white;
        border: 1px solid $emphasis-color;
        -webkit-box-shadow: none;
        box-shadow: none;
        a{
          color: white;
        }
        a:hover{
          text-decoration: none;
        }
        .pricing{
          color: white;
        }
        .main-plan{
          border-bottom-color: white;
        }
      } 
      #giftForm{
        margin-top: 5px;
        font-size: 23px;
        
        input{
          margin-top: 15px;
          border: 1px solid $faded-color;
          padding: 10px 40px;
          text-align: center;
          width: 60%;
          margin-left: 0px;
        }
        textarea{
          margin-top: 15px;
          margin-left: 0px;
          border: 1px solid $faded-color;
          padding: 10px 40px;
          text-align: center;
          width: 60%;
        }
      }     
      #stepTwo{
        .instructions{
          color: $faded-color;
          margin-top: -13px;
          margin-bottom: 10px;
        }
        .btn{
          padding: 5px;
          margin-bottom: 30px;
          margin-left: 40px;
          margin-right: 40px;
        }
        label:before {
          font-family: FontAwesome;
          content: "\f096";
          color: $faded-color;
          display: inline-block;  
          position: absolute;
          bottom: -27px;
          left: 49px;
          text-align: center;
          }
          label.active:before{
            font-family: FontAwesome;
            content: "\f046";
            color: $emphasis-color;
            
          }
      }
      #upfrontForm{
        padding-top: 15px;
      }
      .main-plan{
        border-bottom: 1px $faded-color solid;
        padding-bottom: 8px;
        margin-bottom: 11px;
      }
      .pricing{
        color: $primary-color;
        font-style: italic;
        font-size: 16px;
      }
      .submit{
        background-color: $emphasis-color;
        color: white;
        border:none;
      }
      .submit-section{
        margin-bottom: 100px;
      }
      .style-pic{
        position: relative;
        width: 100%;
        .style-desc{
          opacity: 0.0;
          position: absolute;
          height: 100%;
          width: 100%;
          -webkit-transition: opacity 100ms ease-in-out;
          -moz-transition: opacity 100ms ease-in-out;
          -o-transition: opacity 100ms ease-in-out;
          -ms-transition: opacity 100ms ease-in-out;
          transition: opacity 100ms ease-in-out;
          .overlay{
            position: absolute;
            background-color: white;
            opacity: 0.8;
            height: 100%;
            width: 100%;
          }
          .style-name{
            position: absolute;
            margin: 0 auto;
            text-align: center;
            width: 100%;
            height: 100%;
            padding: 20% 0;
            h4{
              color:$primary-color;
              font-weight: lighter;
              font-size: 18px;
              letter-spacing: 0px;
            }
          }
        }
      }

  }
}