.sub-hero{
  position: relative;
  border-top: 1px solid $faded-color;
  border-bottom: 1px solid $faded-color;
  width: 100%;
  .hero{
    width: 50%;
    border-right: 2px solid $faded-color;
  }
  .right{
    position: absolute;
    top: 0%;
    right: 0;
    width: 50%;
    text-align: center;
    .head{
      h1{
        margin-top: 1%;
        font-weight: 400;
      }
      width: 65%;
      margin: 0 auto;
      padding-bottom: 3%;
      border-bottom: 1px solid $faded-color;
    }
    .subhead{
      h1{
        font-size: 18px;
        font-weight: 400;
        margin-bottom:0px;
        color: $faded-color;
      }      
    }
    .sub-steps{
      list-style:none;
      font-size: 17px;
      padding: 0;
      .step{
        margin: 0 auto;
        width:39px;
        border-radius: 24px;
        border: 2px solid $accent-color;
        color: $accent-color;
        font-size: 25px;
      }
      .action{
        font-size: 14px;
        color: $faded-color;
        margin-top: 10px;
      }
      li{
        display: inline-block;
        padding: 25px 0;
        width: 30%;
        text-align: center;
        .img{
          margin: 0 auto;
          width: 47%;
          img{
            margin: 0 auto;
          }
        }
      }
    }
    .btn{
      border: 2px solid $emphasis-color;
      color: $emphasis-color;
      font-weight: 600;
      width: 50%;
    }
    .btn:hover{
      border-color: $emphasis-hover-color;
      color: $emphasis-hover-color;
    }
  }
}

.sub-body{
  padding-top: 100px;
  margin-bottom: 100px;
  .sub-copy{
    border-right: 1px solid $faded-color;
    float: left;
    width: 50%;
    text-align: center;
    h1{
      margin-top: -35px;
      color: $accent-color;
      font-size: 22px;
    }
    img{
      margin: 0 auto;
      width: 70%;
      margin-top: 15px;
    }
  }
}


.subscription{
  width: 50%;
  float: right;
  margin-top: -74px;
  #alerts{
    width: 100%;
    margin: 0 auto;
    margin-bottom: -16px;
    margin-top: 0px;
    .alert{
      margin-top: -15px;
      background-image: none;
    }
  }
  text-align: center;
  .copy{
    font-size: 22px;
    color: $accent-color;
    margin: 30px 0;
    font-weight: 600;
  }
  .sub-form{
    width: 90%;
    margin: 0 auto;
    .step{
      text-align: left;
      float: left;
      position: absolute;
      font-size: 22px;
      color: $accent-color;
      margin-left: 5px;
      width: 32px;
      height: 32px;
      border-radius: 20px;
      background-color: #fff;
      text-align: center;
      margin-top: -5px;
    }
    .status{
      color: #fff;
      text-align: right;
      right: 14px;
      margin-top: -26px;
      float: right;
      position: absolute;
      width: 40px;
      height: 40px;
      font-size: 34px;
      line-height: 1px;
      opacity: 0.0;
      -webkit-transition: opacity 150ms ease-in-out;
      -moz-transition: opacity 150ms ease-in-out;
      -o-transition: opacity 150ms ease-in-out;
      -ms-transition: opacity 150ms ease-in-out;
      transition: opacity 150ms ease-in-out;
    }
    .status-complete{
      opacity: 1.0
    }
    h4{
      font-size: 20px;
      color: white;
      font-weight: 400;
      letter-spacing: 1px;
    }
    .heading{
      background-color: $accent-color;
      border: none;
      padding: 10px 0;
      a:hover{
        text-decoration: none;
      }
    }

      .btn{
        font-size: 20px;
        padding: 10px 40px;
        margin: 0 25px;
        background-color: white;
        border: 1px solid $faded-color;
        color: $accent-color;
        a:hover{
          color: $accent-color;
          text-decoration: none;
        }
      }
      .btn.active{
        background-color: $emphasis-color;
        color: white;
        border: 1px solid $emphasis-color;
        -webkit-box-shadow: none;
        box-shadow: none;
        a{
          color: white;
        }
        a:hover{
          text-decoration: none;
        }
        .pricing{
          color: white;
        }
        .main-plan{
          border-bottom-color: white;
        }
      } 
      #giftForm{
        margin-top: 5px;
        font-size: 23px;
        
        input{
          margin-top: 15px;
          border: 1px solid $faded-color;
          padding: 10px 40px;
          text-align: center;
          width: 60%;
          margin-left: 0px;
        }
        textarea{
          margin-top: 15px;
          margin-left: 0px;
          border: 1px solid $faded-color;
          padding: 10px 40px;
          text-align: center;
          width: 60%;
        }
      }     
      #stepTwo{
        padding: 0;
        .panel-body{
          padding-left: 0;
          padding-right: 0;
        }
        .instructions{
          color: $faded-color;
          margin-top: -13px;
          margin-bottom: 10px;
        }
        .style-list{
          list-style: none;
          padding: 0;
          width: 100%;
          li{
            display: inline-block;
            width:24%;
            margin: 0;
            .btn{
              padding: 0px;
              margin: 0;
              img{
                // margin-top: -28px;
              }
            }
            input[type=checkbox] {  
              display: none;  
            }
            label:before {
            font-family: FontAwesome;
            content: "\f096";
            color: $faded-color;
            display: inline-block;  
            margin-left: 2px;
            bottom: -27px;
            text-align: center;
            }
            label.active:before{
              font-family: FontAwesome;
              content: "\f046";
              color: #fff;
            }
          }
        }
      }
      #stepThree{
        padding: 0;
        .panel-body{
          padding-left: 0;
          padding-right: 0;
        }
        .btn{
          width: 100%;
          padding: 4px 20px;
          margin:0;
        }
        .plan-list{
          width: 100%;
          padding: 0;
          list-style: none;
          li{
            width: 30%;
            display: inline-block;
            margin-left: 1%;
            margin-right: 1%;
            input[type=radio]{
              display: none;
            }
          }
        }
      }
      #stepFour{
        padding: 0;
        .pricing{
          margin-bottom: 0px;
        }
        .panel-body{
          padding-left: 0;
          padding-right: 0;
        }
        .pmt-list{
          list-style: none;
          width: 100%;
          padding: 0;
          .btn{
            width: 100%;
            margin: 0;
          }
          li{
            display: inline-block;
            width: 43%;
            margin-left: 3%;
            margin-right: 3%;
            max-width: 200px;
            input[type=radio]{
              display: none;
            }
          }
        }
        #upfrontForm{
          padding-top: 15px;
          .btn{
            margin: 0;
            width: 100%;
            padding-left: 0;
            padding-right: 0;
          }
          .upfront-list{
            list-style: none;
            padding: 0;
            width: 100%;
            li{
              width: 24%;
              display: inline-block;
              input[type=radio]{
                display:none;
              }
            }
          }
        }
      }
      .main-plan{
        border-bottom: 1px $faded-color solid;
        padding-bottom: 8px;
        margin-bottom: 11px;
        width: 75%;
        margin: 0 auto;
        .months{
          font-family: $body-text-font !important;
        }
      }
      .pricing{
        color: $primary-color;
        font-style: italic;
        font-size: 16px;
      }
      .submit{
        background-color: $emphasis-color;
        color: white;
        border:none;
      }
      .submit-section{
        margin-bottom: 100px;
      }
      .style-pic{
        position: relative;
        width: 100%;
        .style-desc{
          opacity: 0.0;
          position: absolute;
          height: 100%;
          width: 100%;
          -webkit-transition: opacity 100ms ease-in-out;
          -moz-transition: opacity 100ms ease-in-out;
          -o-transition: opacity 100ms ease-in-out;
          -ms-transition: opacity 100ms ease-in-out;
          transition: opacity 100ms ease-in-out;
          .overlay{
            position: absolute;
            background-color: white;
            opacity: 0.8;
            height: 100%;
            width: 100%;
          }
          .style-name{
            position: absolute;
            margin: 0 auto;
            text-align: center;
            width: 100%;
            height: 100%;
            padding: 20% 0;
            h4{
              color:$primary-color;
              font-weight: 400;
              font-size: 18px;
              letter-spacing: 0px;
            }
          }
        }
      }

  }
}


@media (max-width: 1100px) {
  .subscription{
    .sub-form{
      width: 97%;
      #giftForm{
        input{
          width: 75%;
        }
        textarea{
          width: 75%;
        }
      }
    }
  }
  .sub-hero{
    .right{
      .head{
        h1{
          margin-bottom: -3%;
        }
      }
      .subhead{
        h1{
          margin-top: 2%;
          margin-bottom: -14px;
        }
      }
    }
  }
}

@media (max-width: 992px) {
  .sub-body{
    text-align: center;
    padding-top: 42px;
    .sub-copy{
      width: 100%;
      margin: 0 auto;
      border: none;
      .copy{
        float:left;
        margin-top: 68px;
        font-size: 13px;
      }
      img{
        float:right;
        width: 50%;
      }
    }
    .subscription{
      margin-top: -9px;
      width: 100%;
    }
  }
  .sub-hero{
    .right{
      .head{
        h1{
          font-size: 25px
        }
      }
      .subhead{
        h1{
          font-size: 16px;
        }
      }
      .sub-steps{
        margin-bottom: -17px;
        .step{
          font-size: 18px;
          width: 30px;
        }
        .action{
          font-size: 16px;
        }
      }
      .submit-btn{
        .btn{
          padding: 4px 16px;
        }
      }
    }
  }
}


@media (max-width: 767px) {
  .sub-body{
    .sub-copy{
      .copy{
        float:none;
        margin-top: 0px;
      }
      img{
        float:none;
        width: 90%;
      }
    }
    .subscription{
      margin-top: 25px;
      .sub-form{
        width: 100%;
        .step{
          margin-top: -8px;
        }
      }
    }
  }
  .sub-hero{
    position: static;
    .hero{
      width: 100%;
      position: static;
    }
    .right{
      padding-top: 15px;
      padding-bottom: 15px;
      width: 100%;
      position: static;
    }
  }
  
  
  .subscription{
    .copy{
      font-size: 16px;
    }
    .sub-form{
      h4{
        font-size: 18px;
      }
      .btn{
        font-size: 16px;
        padding: 10px 25px;
        margin: 0 3px;
      }
      .status{
        margin-top: -23px;
      }
       #giftForm{
        margin-top: 5px;
        font-size: 14px;
        
        input{
          margin-top: 15px;
          border: 1px solid $faded-color;
          padding: 10px 25px;
          text-align: center;
          width: 60%;
          margin-left: 0px;
        }
        textarea{
          margin-top: 15px;
          margin-left: 0px;
          border: 1px solid $faded-color;
          padding: 10px 25px;
          text-align: center;
          width: 60%;
        }
      }
      #stepThree{
        .btn{
          padding: 5px 7px;
          margin: 0 1px;
        }
        .main-plan{
          border-bottom: 1px $faded-color solid;
          padding-bottom: 8px;
          margin-bottom: 11px;
        }
        .pricing{
          color: $primary-color;
          font-style: italic;
          font-size: 12px;
        }
      }
      #stepFour{
        .step-four-panel-body{
          padding: 15px 0px;
        }
        #upfrontForm{
          .btn{
            padding: 5px 0px;
            margin: 0 0;
            width:74px;
            margin: 0 -3px;
          }
          .main-plan{
            border-bottom: 1px $faded-color solid;
            padding-bottom: 8px;
            margin-bottom: 11px;
            word-break: break-all;
            .months{
              font-size: 11px;
            }
          }
          .pricing{
            color: $primary-color;
            font-style: italic;
            font-size: 12px;
          }
        }
      }
    }
  }
}

.step-link:hover{
  text-decoration: none;
}


@media (max-width: 400px) {
  .subscription{
    .sub-form{
      h4{
        font-size: 14px;
      }
      .style-pic{
        .style-desc{
          .style-name{
            h4{
              font-size: 14px;
            }
          }
        }
      }
    }
  }
}