$primary-color: #404041; 
$accent-color: #67c5a9;
$accent-hover-color: #3ea284;
$faded-color: #b8b8b8;
$emphasis-color: #e85c41;
$emphasis-hover-color: #d8563d;
$body-text-font: 'Raleway';
$number-font: 'Source Sans Pro';
$plain-text-font: 'PT Sans';
$serif-font: 'Playfair Display';
$fun-font: 'Quicksand';

@import 'fullscreen_form';

@import 'subscription';

@import 'snow_effect';

@import 'nifty_modals';

@import 'notifications_default';

@import 'notifications_bar';

@import 'video_hero';

@import 'bundler';

@import 'animations';

@import 'reduced_foundation';

@import 'collection';

@import 'footer';

@import 'loader';

@import 'product';

@import 'filter';

@import 'product_view';

@import 'forms';

@import 'blog';

@import 'blogs';

@import 'blog_iframe';

@import 'account_form';

@import 'old_account_form';

@import 'account';

@import 'bootstrap';

@import 'sub';

@import 'index';

@import 'cart';

@import 'nav';

@import 'network_hat';

@import 'order-summaries';



.number{
  font-family: $number-font;
}




// MEDIUM DESKTOPS
@media (max-width: 1200px) { 
} 

// TABLETS
@media (max-width: 992px) { 
} 

// SMALL PHONES
@media (max-width: 768px) {
} 

// IPHONE
@media (max-width: 450px) {
} 
