$primary-color: #404041; 
$accent-color: #67c5a9;
$faded-color: #b8b8b8;
$emphasis-color: #e85c41;



@import 'collection';

@import 'index';

@import 'footer';

@import 'product';

@import 'filter';

@import 'product_view';

@import 'forms';

@import 'blog';

@import 'account_form';

@import 'account';

@import 'bootstrap-theme';

@import 'bootstrap';

@import 'sub';

@import 'nav';