$primary-color: #404041; 
$accent-color: #67c5a9;
$faded-color: #b8b8b8;
$emphasis-color: #e85c41;
$body-text-font: 'Raleway';
$number-font: 'Source Sans Pro';

@import 'reduced_foundation';

@import 'collection';

@import 'footer';

@import 'product';

@import 'filter';

@import 'product_view';

@import 'forms';

@import 'blog';

@import 'account_form';

@import 'account';

// @import 'bootstrap-theme';

@import 'bootstrap';

@import 'sub';

@import 'index';

@import 'cart';

@import 'nav';

@import 'jumbotrons'
